# Data Programming in Python | BAIS:6040
# Files and External Data Sources

Instructor: Jeff Hendricks 

Topics to be covered:
- Useful OS functionality
- Writing and reading a file (+ exercises)
- Writing and reading a CSV file using Pandas
- Writing and reading a JSON file (+ exercises)
- Working with databases

References: 
- Data Wrangling with Python by By Jacqueline Kazil, Katharine Jarmul (http://shop.oreilly.com/product/0636920032861.do)
- Pandas official website (http://pandas.pydata.org/)

## Importing modules

In [ ]:
#!pip install XlsxWriter

In [ ]:
import json                            # handling JSON files
import sqlite3 as sq3                  # communicating with SQLite3 database
import os                              # using OS-dependent functionality 
import pandas as pd                    # handling Pandas dataframes
from seaborn import load_dataset       # using the Titanic dataset

## Useful OS dependent functions

The <b>os</b> module provides a portable way of using operating system dependent functionality.

The <b>os.listdir(path='.')</b> function returns a list containing the names of the entries in the directory given by path.

In [ ]:
os.listdir("./")                        # The path "." means the current directory.

In [ ]:
[item for item in os.listdir("./") if item.endswith(".ipynb")]  # a list of ipynb files in the current directory

The <b>os.getcwd()</b> function returns a string representing the current working directory.

In [ ]:
os.getcwd()

The <b>os.path.isfile(path)</b> function returns True if path is an existing regular file.

In [ ]:
os.path.isfile("Data_Programming_in_Python_Part5_Files_and_External_Data_sources.ipynb")

In [ ]:
os.path.isfile("DPP_Module5_Files_and_External_Data.ipynb")

The <b>os.path.isdir(path)</b> function returns True if path is an existing directory.

In [ ]:
os.path.isdir("newdata2")

The <b>os.mkdir(path)</b> function creates a directory named `path`.

In [ ]:
if not os.path.isdir("newdata2"):         # Check if there is an existing directory named newdata.
    os.mkdir("newdata2")                  # Create a new directory named data.

## Writing a file

When writing and reading a file, the first thing you need to do is to open a file in the right mode.

The built-in <b>open()</b> function opens the file provided and returns a corresponding file object. If the file cannot be opened, an OSError is raised. The parameter `mode` is an optional string that specifies the mode in which the file is opened. 
- "r": opens a file for reading. (default)
- "w": opens a file for writing. Creates a new file if it does not exist, or truncates the file if it exists.
- "a": opens for appending at the end of the file without truncating it. Creates a new file if it does not exist.
- "b": opens in binary mode.
- "+": opens a file for updating (reading and writing)

open: https://docs.python.org/3/library/functions.html#open

In [ ]:
fw = open("data/output.txt", mode="w")
fw

The <b>write()</b> method writes the contents of string to the file, returning the number of characters written.

In [ ]:
fw.write("Hello, world!\n")

In [ ]:
print("Hello, world!\n", end="")

Note that writing a string to a file using the <b>write</b> method is practically the same as printing a string using the <b>print</b> function.

The <b>close()</b> method closes the file and immediately frees up any system resources used by it. If you do not explicitly close a file, Python’s garbage collector will eventually destroy the object and close the open file for you, but the file may stay open for a while.

In [ ]:
fw.close()

#### Python Context Manager ('with')

It is good practice to use the <b>with</b> keyword when dealing with file objects. The advantage is that the file is properly closed after its block finishes, which means you do not have to explicitly close the file.

In [ ]:
with open("data/output.txt", mode="w") as fw:
    fw.write("Hello, world!\n")

When writing a CSV file with a single column, you need to decide the delimiter to specify the boundary between separate rows, e.g., a new line ("\n").

In [ ]:
with open("data/output.csv", mode="w") as fw:
    fw.write("num\n")                # Use a new line (\n) between rows.
    
    for i in range(10):
        fw.write("{}\n".format(i))

When writing a CSV file with multiple columns, you also need to decide the delimiter to specify the boundary between separate columns, e.g., comma (",") or tab ("\t").

In [ ]:
with open("data/output2.csv", mode="w") as fw:
    fw.write("num,col1,col2\n")       # Use a comma (,) between columns and a new line (\n) between rows.
    
    for i in range(10):
        fw.write("{},{},{}\n".format(i, i*10, i*100))

In [ ]:
df = load_dataset("titanic")
df.head()

In [ ]:
with open("data/my_titanic.csv", "w") as fw:
    header = "index,survived,pclass,fare\n"
    fw.write(header)
    print(header, end="")            # Print the header row just to check the current status.
    
    for idx, val in df.iterrows():
        survived = val.survived
        pclass = val.pclass
        fare = val.fare
        
        row = "{},{},{},{}\n".format(idx, survived, pclass, fare)
        fw.write(row)
        print(row, end="")           # Print each row to check the current status.

## Reading a file

In [ ]:
with open("data/output.txt", mode="r") as fr:
    content = fr.read()                    # Read the whole contents in the file.
    print(content)

In [ ]:
with open("data/output2.csv", mode="r") as fr:
    for line in fr:                        # Read the file line by line. 
        print(line, end="")

In [ ]:
with open("data/output2.csv", mode="r") as fr:
    lines = fr.readlines()                 # Read the whole contents in the file as a list of lines.
                                           # Not recommended if the file is too large to be loaded in memory.
    for line in lines:
        print(line, end="")

In [ ]:
with open("data/output2.csv", mode="r") as fr:
    lines = fr.readlines()                 # Read the whole content in the file as a list of lines.
    
    # Decompose the header row into coloumn names
    header = lines[0]
    header = header.rstrip()               # Remove the trailing new line in the header.
    num, col1, col2 = header.split(",")
    
    # Decompose each line into values
    for line in lines[1:]:
        line = line.rstrip()               # Remove the trailing new line in each line.
        num_val, val1, val2 = line.split(",")
        print("{}: {},\t{}: {},\t{}: {}".format(num, num_val, col1, val1, col2, val2))

In [ ]:
#open("data/outputtt.csv", mode="r")

## Exercises for file writing and reading (6 questions)

1\. Creat a list <i>l</i> of integers from 1 (inclusive) to 100 (inclusive). Write a CSV file named <i>ex_output.csv</i> under the directory <i>data</i>. The file contains only one column name <i>id</i> in the first row and, starting from the second row, each number from <i>l</i> in each line.

In [ ]:
# Your answer here

2\. Continue to use the list <i>l</i>. Write another CSV file named <i>ex_output2.csv</i> under the directory <i>data</i>. The file contains three column names <i>id</i>, <i>square</i>, and <i>cube</i> in the first row and, starting from the second row, each number from <i>l</i>, its square, and its cube in each line. The delimiter between columns is a comma.

In [ ]:
# Your answer here

Let's continue to use the dataframe <i>df</i> from the Titanic dataset.

In [ ]:
df = load_dataset("titanic")
df.head()

3\. Create a CSV file named <i>ex_titanic.csv</i> under the directory <i>data</i>. The file contains three column names <i>sex</i>, <i>pclass</i> and <i>embark_town</i> in the first row and the values from the corresponding columns of <i>df</i> in the following rows. The delimiter between columns is a tab.

In [ ]:
# Your answer here

4\. Create a CSV file named <i>ex_titanic2.csv</i> under the directory <i>data</i>. The file contains the same contents as <i>ex_titanic.csv</i>. In addition, it contains another column named <i>num_fam_mems</i>, meaning the number of family members, which is the sum of the column <i>sibsp</i> (siblings and spouses) and the column <i>parch</i> (parents and children).

In [ ]:
# Your answer here

5\. Read the file <i>ex_titanic2.csv</i> under the directory <i>data</i> and print the first five rows as they are.

In [ ]:
# Your answer here

6\. Read the file <i>ex_titanic2.csv</i> under the directory <i>data</i> and print the first five rows under the column <i>embark_town</i>.

In [ ]:
# Your answer here

## Reading and writing a CSV file using Pandas

If you need to read a CSV file and analyze the contents in a tabular format with rows and columns, it is a good idea to read the file as a Pandas dataframe.

pandas.read_csv: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html

In [ ]:
df = pd.read_csv("data/pie_rates2.csv")
df.head()

In [ ]:
df = pd.read_csv("data/pie_rates2.csv", sep="\t")
df.head()

In [ ]:
df = pd.read_csv("https://people.sc.fsu.edu/~jburkardt/data/csv/biostats.csv")
df.head()

In [ ]:
df = pd.read_excel("http://go.microsoft.com/fwlink/?LinkID=521962", sheet_name="Sheet1")
df.head()

pandas.read_excel: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html

In [ ]:
df.to_csv("data/my_data.csv", sep=",", index=False)

pandas.DataFrame.to_csv: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html

In [ ]:
df.to_excel("data/my_data.xls", sheet_name="Sheet1", index=False, engine='xlsxwriter')

pandas.DataFrame.to_excel: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_excel.html

## BREAK

## Writing and reading a JSON file

JSON, which stands for JavaScript Object Notation, is one of the most commonly used formats for data transfer. It is preferred, because it is clean, easy to read, and easy to parse. Many websites provide JSON-enabled APIs, or Application Programming Interfaces.

In [ ]:
states = {"IL": "Illinois", "WI": "Wisconsin", "IA": "Iowa", "NE": "Nebraska", "MN": "Minnesota"}
states

The <b>json.dump(obj, fp, ...)</b> function serializes `obj` as a JSON formatted stream to `fp`.

In [ ]:
with open("data/my_states.json", "w") as fw:
    json.dump(states, fw)

The <b>json.load(fp, ...)</b> deserializes `fp` to a Python object.

In [ ]:
with open("data/my_states.json", "r") as fr:
    states_new = json.load(fr)

If you open the JSON file and see the contents, you will see that each data record looks a lot like a Python dictionary.

In [ ]:
states_new

In [ ]:
status = {'created_at': 'Sun Jun 23 09:27:06 +0000 2019',
 'id': 1142725758621818880,
 'id_str': '1142725758621818880',
 'text': 'Two stunning mental health facts have now been ranked true...I think no one believed them because they’re so startl… https://t.co/Gp5n31SYm1',
 'truncated': True,
 'entities': {'hashtags': [],
  'symbols': [],
  'user_mentions': [],
  'urls': [{'url': 'https://t.co/Gp5n31SYm1',
    'expanded_url': 'https://twitter.com/i/web/status/1142725758621818880',
    'display_url': 'twitter.com/i/web/status/1…',
    'indices': [117, 140]}]},
 'metadata': {'result_type': 'popular', 'iso_language_code': 'en'},
 'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
 'in_reply_to_status_id': None,
 'in_reply_to_status_id_str': None,
 'in_reply_to_user_id': None,
 'in_reply_to_user_id_str': None,
 'in_reply_to_screen_name': None,
 'user': {'id': 33537967,
  'id_str': '33537967',
  'name': 'Amy Klobuchar',
  'screen_name': 'amyklobuchar',
  'location': '',
  'description': 'U.S. Senator from Minnesota and candidate for President. Text AMY to 91990 to join our homegrown campaign.',
  'url': 'http://t.co/mGGFBfggto',
  'entities': {'url': {'urls': [{'url': 'http://t.co/mGGFBfggto',
      'expanded_url': 'http://www.amyklobuchar.com',
      'display_url': 'amyklobuchar.com',
      'indices': [0, 22]}]},
   'description': {'urls': []}},
  'protected': False,
  'followers_count': 705873,
  'friends_count': 140906,
  'listed_count': 5754,
  'created_at': 'Mon Apr 20 14:59:36 +0000 2009',
  'favourites_count': 30,
  'utc_offset': None,
  'time_zone': None,
  'geo_enabled': False,
  'verified': True,
  'statuses_count': 9153,
  'lang': 'en',
  'contributors_enabled': False,
  'is_translator': False,
  'is_translation_enabled': False,
  'profile_background_color': '026113',
  'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_tile': False,
  'profile_image_url': 'http://pbs.twimg.com/profile_images/1059812997982511105/lgFAlE5t_normal.jpg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1059812997982511105/lgFAlE5t_normal.jpg',
  'profile_banner_url': 'https://pbs.twimg.com/profile_banners/33537967/1549830865',
  'profile_link_color': '026113',
  'profile_sidebar_border_color': 'F6D73F',
  'profile_sidebar_fill_color': '89BCEE',
  'profile_text_color': '3D3C3D',
  'profile_use_background_image': True,
  'has_extended_profile': False,
  'default_profile': False,
  'default_profile_image': False,
  'following': False,
  'follow_request_sent': False,
  'notifications': False,
  'translator_type': 'regular'},
 'geo': None,
 'coordinates': None,
 'place': None,
 'contributors': None,
 'is_quote_status': True,
 'quoted_status_id': 1142581281408114689,
 'quoted_status_id_str': '1142581281408114689',
 'quoted_status': {'created_at': 'Sat Jun 22 23:53:00 +0000 2019',
  'id': 1142581281408114689,
  'id_str': '1142581281408114689',
  'text': 'Minnesota Senator and #2020election Democratic candidate @amyklobuchar claims U.S. suicides have risen by 30% in pa… https://t.co/dDcFG8epEe',
  'truncated': True,
  'entities': {'hashtags': [{'text': '2020election', 'indices': [22, 35]}],
   'symbols': [],
   'user_mentions': [{'screen_name': 'amyklobuchar',
     'name': 'Amy Klobuchar',
     'id': 33537967,
     'id_str': '33537967',
     'indices': [57, 70]}],
   'urls': [{'url': 'https://t.co/dDcFG8epEe',
     'expanded_url': 'https://twitter.com/i/web/status/1142581281408114689',
     'display_url': 'twitter.com/i/web/status/1…',
     'indices': [117, 140]}]},
  'metadata': {'result_type': 'popular', 'iso_language_code': 'en'},
  'source': '<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>',
  'in_reply_to_status_id': None,
  'in_reply_to_status_id_str': None,
  'in_reply_to_user_id': None,
  'in_reply_to_user_id_str': None,
  'in_reply_to_screen_name': None,
  'user': {'id': 8953122,
   'id_str': '8953122',
   'name': 'PolitiFact',
   'screen_name': 'PolitiFact',
   'location': 'Washington, DC',
   'description': 'Home of the Truth-O-Meter and independent fact-checking. Part of @Poynter. Sign up for our daily email https://t.co/bfN0WPdGhm.',
   'url': 'https://t.co/DPzWZ42N71',
   'entities': {'url': {'urls': [{'url': 'https://t.co/DPzWZ42N71',
       'expanded_url': 'http://membership.politifact.com',
       'display_url': 'membership.politifact.com',
       'indices': [0, 23]}]},
    'description': {'urls': [{'url': 'https://t.co/bfN0WPdGhm',
       'expanded_url': 'http://bit.ly/PolitiFactEmail',
       'display_url': 'bit.ly/PolitiFactEmail',
       'indices': [103, 126]}]}},
   'protected': False,
   'followers_count': 635750,
   'friends_count': 8147,
   'listed_count': 10993,
   'created_at': 'Tue Sep 18 15:08:32 +0000 2007',
   'favourites_count': 2435,
   'utc_offset': None,
   'time_zone': None,
   'geo_enabled': True,
   'verified': True,
   'statuses_count': 40621,
   'lang': 'en',
   'contributors_enabled': False,
   'is_translator': False,
   'is_translation_enabled': False,
   'profile_background_color': 'FFFFFF',
   'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
   'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
   'profile_background_tile': False,
   'profile_image_url': 'http://pbs.twimg.com/profile_images/1097902211185692672/RGGYVdxt_normal.png',
   'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1097902211185692672/RGGYVdxt_normal.png',
   'profile_banner_url': 'https://pbs.twimg.com/profile_banners/8953122/1550238073',
   'profile_link_color': '003291',
   'profile_sidebar_border_color': '000000',
   'profile_sidebar_fill_color': 'DDEEF6',
   'profile_text_color': '333333',
   'profile_use_background_image': True,
   'has_extended_profile': False,
   'default_profile': False,
   'default_profile_image': False,
   'following': False,
   'follow_request_sent': False,
   'notifications': False,
   'translator_type': 'none'},
  'geo': None,
  'coordinates': None,
  'place': None,
  'contributors': None,
  'is_quote_status': False,
  'retweet_count': 19,
  'favorite_count': 52,
  'favorited': False,
  'retweeted': False,
  'possibly_sensitive': False,
  'lang': 'en'},
 'retweet_count': 681,
 'favorite_count': 2620,
 'favorited': False,
 'retweeted': False,
 'possibly_sensitive': False,
 'lang': 'en'}

Tweet Object: https://developer.twitter.com/en/docs/tweets/data-dictionary/overview/tweet-object

In [ ]:
type(status)

In [ ]:
status2 = {'created_at': 'Sun Jun 23 13:05:31 +0000 2019',
 'id': 1142780726825422848,
 'id_str': '1142780726825422848',
 'text': 'Joe Sestak, a former congressman from Pennsylvania who lost Senate bids in 2010 and 2016, is now running for presid… https://t.co/g6lm9mi0gr',
 'truncated': True,
 'entities': {'hashtags': [],
  'symbols': [],
  'user_mentions': [],
  'urls': [{'url': 'https://t.co/g6lm9mi0gr',
    'expanded_url': 'https://twitter.com/i/web/status/1142780726825422848',
    'display_url': 'twitter.com/i/web/status/1…',
    'indices': [117, 140]}]},
 'metadata': {'result_type': 'popular', 'iso_language_code': 'en'},
 'source': '<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>',
 'in_reply_to_status_id': None,
 'in_reply_to_status_id_str': None,
 'in_reply_to_user_id': None,
 'in_reply_to_user_id_str': None,
 'in_reply_to_screen_name': None,
 'user': {'id': 13524182,
  'id_str': '13524182',
  'name': 'Dave Weigel',
  'screen_name': 'daveweigel',
  'location': 'Washington, D.C.',
  'description': 'Covering politics for @washingtonpost. daveweigel@gmail.com, 202-334-7387. @CWAUnion member. Buy my book: https://t.co/qbUTkz3CBR (Avatar by @damnyouregis)',
  'url': 'https://t.co/fH66dGGX87',
  'entities': {'url': {'urls': [{'url': 'https://t.co/fH66dGGX87',
      'expanded_url': 'http://www.daveweigel.com',
      'display_url': 'daveweigel.com',
      'indices': [0, 23]}]},
   'description': {'urls': [{'url': 'https://t.co/qbUTkz3CBR',
      'expanded_url': 'http://tinyurl.com/h7wyg2c',
      'display_url': 'tinyurl.com/h7wyg2c',
      'indices': [106, 129]}]}},
  'protected': False,
  'followers_count': 468137,
  'friends_count': 11200,
  'listed_count': 11364,
  'created_at': 'Fri Feb 15 17:58:23 +0000 2008',
  'favourites_count': 15384,
  'utc_offset': None,
  'time_zone': None,
  'geo_enabled': True,
  'verified': True,
  'statuses_count': 195624,
  'lang': 'en',
  'contributors_enabled': False,
  'is_translator': False,
  'is_translation_enabled': False,
  'profile_background_color': '1A1B1F',
  'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme9/bg.gif',
  'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme9/bg.gif',
  'profile_background_tile': False,
  'profile_image_url': 'http://pbs.twimg.com/profile_images/999649964870451201/-Co_Xkx4_normal.jpg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/999649964870451201/-Co_Xkx4_normal.jpg',
  'profile_banner_url': 'https://pbs.twimg.com/profile_banners/13524182/1397875542',
  'profile_link_color': '2FC2EF',
  'profile_sidebar_border_color': '181A1E',
  'profile_sidebar_fill_color': '252429',
  'profile_text_color': '666666',
  'profile_use_background_image': True,
  'has_extended_profile': True,
  'default_profile': False,
  'default_profile_image': False,
  'following': False,
  'follow_request_sent': False,
  'notifications': False,
  'translator_type': 'none'},
 'geo': None,
 'coordinates': None,
 'place': None,
 'contributors': None,
 'is_quote_status': False,
 'retweet_count': 488,
 'favorite_count': 1493,
 'favorited': False,
 'retweeted': False,
 'possibly_sensitive': False,
 'lang': 'en'}

In [ ]:
status3 = {'created_at': 'Sat Jun 22 18:07:54 +0000 2019',
 'id': 1142494436930260992,
 'id_str': '1142494436930260992',
 'text': 'Chevron and Exxon are receiving secret waivers intended for small refineries. This administration is putting Iowa f… https://t.co/qBcyzZ6IHn',
 'truncated': True,
 'entities': {'hashtags': [],
  'symbols': [],
  'user_mentions': [],
  'urls': [{'url': 'https://t.co/qBcyzZ6IHn',
    'expanded_url': 'https://twitter.com/i/web/status/1142494436930260992',
    'display_url': 'twitter.com/i/web/status/1…',
    'indices': [117, 140]}]},
 'metadata': {'result_type': 'popular', 'iso_language_code': 'en'},
 'source': '<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>',
 'in_reply_to_status_id': None,
 'in_reply_to_status_id_str': None,
 'in_reply_to_user_id': None,
 'in_reply_to_user_id_str': None,
 'in_reply_to_screen_name': None,
 'user': {'id': 33537967,
  'id_str': '33537967',
  'name': 'Amy Klobuchar',
  'screen_name': 'amyklobuchar',
  'location': '',
  'description': 'U.S. Senator from Minnesota and candidate for President. Text AMY to 91990 to join our homegrown campaign.',
  'url': 'http://t.co/mGGFBfggto',
  'entities': {'url': {'urls': [{'url': 'http://t.co/mGGFBfggto',
      'expanded_url': 'http://www.amyklobuchar.com',
      'display_url': 'amyklobuchar.com',
      'indices': [0, 22]}]},
   'description': {'urls': []}},
  'protected': False,
  'followers_count': 705873,
  'friends_count': 140906,
  'listed_count': 5754,
  'created_at': 'Mon Apr 20 14:59:36 +0000 2009',
  'favourites_count': 30,
  'utc_offset': None,
  'time_zone': None,
  'geo_enabled': False,
  'verified': True,
  'statuses_count': 9153,
  'lang': 'en',
  'contributors_enabled': False,
  'is_translator': False,
  'is_translation_enabled': False,
  'profile_background_color': '026113',
  'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_tile': False,
  'profile_image_url': 'http://pbs.twimg.com/profile_images/1059812997982511105/lgFAlE5t_normal.jpg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1059812997982511105/lgFAlE5t_normal.jpg',
  'profile_banner_url': 'https://pbs.twimg.com/profile_banners/33537967/1549830865',
  'profile_link_color': '026113',
  'profile_sidebar_border_color': 'F6D73F',
  'profile_sidebar_fill_color': '89BCEE',
  'profile_text_color': '3D3C3D',
  'profile_use_background_image': True,
  'has_extended_profile': False,
  'default_profile': False,
  'default_profile_image': False,
  'following': False,
  'follow_request_sent': False,
  'notifications': False,
  'translator_type': 'regular'},
 'geo': None,
 'coordinates': None,
 'place': None,
 'contributors': None,
 'is_quote_status': False,
 'retweet_count': 400,
 'favorite_count': 769,
 'favorited': False,
 'retweeted': False,
 'possibly_sensitive': False,
 'lang': 'en'}

In [ ]:
statuses = [status, status2, status3]

In [ ]:
type(statuses)

In [ ]:
with open("data/my_statuses.json", "w") as fw:
    json.dump(statuses, fw)

In [ ]:
with open("data/my_statuses.json", "r") as fr:
    statuses_new = json.load(fr)

In [ ]:
statuses_new[0]

## Exercises for JSON file writing and reading (3 questions)

Let's continue to use the dataframe <i>df</i> from the Titanic dataset.

In [ ]:
df = load_dataset("titanic")
df.head()

1\. Create a list <i>passengers</i>, in which each element is a dictionary with the keys being <i>sex</i>, <i>pclass</i>, and <i>embark_town</i> and the values being their corresponding values in <i>df</i>.

In [ ]:
# Your answer here

2\. Serialize <i>passengers</i> as a JSON formatted stream to a file named <i>ex_passengers.json</i> under the directory <i>data</i>.

In [ ]:
# Your answer here

3\. Deserialize the <i>ex_passengers.json</i> file under the directory <i>data</i> to a Python list named <i>passengers_new</i>.

In [ ]:
# Your answer here

## Working with Pickle Files

In [ ]:
df = load_dataset("titanic")

Functions to __serialize and deserialize__ Python objects include pickle.dump() and pickle.load()
- wb indicates opening the file to write in binary mode
- rb indicates opening the file to read in binary mode

In [ ]:
import pickle

l=(10,20,30,df)
with open("data/list.pkl", "wb") as fwb:
    pickle.dump(l, fwb)

In [ ]:
with open("data/list.pkl", "rb") as frb:
    a,b,c,mydf = pickle.load(frb)

mydf.head()

In [ ]:
import pickle

with open("data/df.pkl", "wb") as fwb:
    pickle.dump(df, fwb)

In [ ]:
with open("data/df.pkl", "rb") as frb:
    df_new = pickle.load(frb)
    
df_new.head()

You can also use __joblib.dump() and joblib.load()__ to save Python objects to disk

In [ ]:
import joblib

with open("data/df_jl.pkl", "wb") as fwb:
    joblib.dump(df, fwb)

In [ ]:
import joblib

with open("data/df_jl.pkl", "rb") as frb:
    df_new2 = joblib.load(frb)

df_new2.head()

## Working with APIs

In [ ]:
import pandas as pd
import pandas_datareader.data as web
import requests
import io

dow = web.DataReader('^DJI', 'stooq')

In [ ]:
dow.head()

In [ ]:
dow.tail()

In [ ]:
#https://stooq.com/q/d/l/?s=^dji&i=d

url = 'https://stooq.com/q/d/l/'
params ={'s':'^dji',
         'i':'d'
        }

r = requests.post(url,data=params)
if r.ok:
    data = r.content.decode('utf8')
    df = pd.read_csv(io.StringIO(data))

In [ ]:
df.head()

In [ ]:
df.tail()

## Working with SQLite3 Databases

__SQLite3__ is relational database delivered with Python

#### Create a connection to the database

In [ ]:
import pandas as pd
import numpy as np
import os
import sqlite3 as sq3

filepath=os.path.join(os.getcwd(), 'data', 'numbs_db.db')

In [ ]:
filepath

In [ ]:
con = sq3.connect(filepath)

q=con.execute       # defines alias for the con.execute method

# defines alias for the con.executemany method, which allows us to write all the data at once as np array
qm=con.executemany

#### Create a new table in the database

In [ ]:
q('Drop Table If Exists nums')

q('Create Table nums (No1 Real, No2 Real, No3 Real, No4 Real, No5 Real)')

con.commit() # commit the changes just made

#### Create some data to insert

In [ ]:
np.random.seed(100)
data = np.random.standard_normal((100000,5)).round(4)

#### Insert rows from data all at once

In [ ]:
qm('Insert Into nums Values(?,?,?,?,?)', data)
con.commit()

#### Insert rows from data one at a time

In [ ]:
for row in data:
    q('Insert into nums values(?,?,?,?,?)', (row[0], row[1], row[2], row[3], row[4]))
con.commit()

#### Fetch rows from database one at a time

In [ ]:
pointer = q('select * from nums')

for row in pointer:
    print(pointer.fetchone())  # do whatever I need to do with these rows one at a time

#### Fecth all rows at once

In [ ]:
rows=q('Select * From nums').fetchall()

In [ ]:
print(type(rows))

print(type(rows[0]))

rows[:3]

#### Close the connection

In [ ]:
con.close()

#### Manage the connection with the context manager ('with')

- No need to close the connection

In [ ]:
with sq3.connect(filepath) as con:
    q=con.execute
    qm=con.executemany
    q('Drop Table If Exists nums')
    q('Create Table nums (No1 Real, No2 Real, No3 Real, No4 Real, No5 Real)')
    con.commit()
    qm('Insert Into nums Values(?,?,?,?,?)', data)
    con.commit()

In [ ]:
with sq3.connect(filepath) as con:
    rows=q('Select * From nums').fetchall()
    
rows[:3]

### Work directly with Pandas Dataframes

In [ ]:
import os
import sqlite3 as sq3

filepath=os.path.join(os.getcwd(), 'data', 'numbs_db.db')
con2 = sq3.connect(filepath)

#### Create a df from the numpy data
- Rename the columns

In [ ]:
import pandas as pd

df = pd.DataFrame(data)

df.columns=['Num1','Num2','Num3','Num4','Num5']
df.head()

#### Add a Date column to the dataframe

- Using list comprehension
- Reorder the columns so Date is first

In [ ]:
import datetime

df['Date'] = [datetime.datetime.now() for i in range(len(df))]

df=df[['Date','Num1','Num2','Num3','Num4','Num5']]

df.head()

#### Use pandas to_sql method to convert the dataframe to a database

- Pass the name of the table and connection to use
- if_exists='replace' indicates to delete the table if it already exists. Other options include fail and append
- index=false indicates whether to write the dataframe row index as a column

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_sql.html

In [ ]:
df.to_sql('numbers', con=con2, if_exists='replace', index=False)

#### Read from database into a pandas dataframe

- Provide the query string and connection to use, at a minimum
- Other parameters available
- Reading the whole table or query results as a pandas dataframe brings data into memory, generally increasing analytics speed

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_sql.html

In [ ]:
df2=pd.read_sql('Select * From numbers', con2)

df2.head()

#### Close the connection

In [ ]:
con2.close()

#### Using Context Manager

In [ ]:
with sq3.connect(filepath) as con2:
    df.to_sql('numbers', con=con2, if_exists='replace', index=False)

In [ ]:
with sq3.connect(filepath) as con2:
    df3=pd.read_sql('Select * From numbers', con2)

df3.head()

## Working with an ODBC Connection

In [ ]:
import pyodbc
import pandas as pd
import getpass

# Parameters

cnx = pyodbc.connect(
        'Driver={IBM DB2 ODBC Driver}; '
        'Hostname=XXX.XX.SOMEDOMAIN.COM; '
        'Port=7805; '
        'Protocol=TCPIP; '
        'Database=DatabaseName; '
        'CurrentSchema=DB2; '
        'UID=%s; '
        'PWD = %s' % (input("enter username:"),getpass.getpass("enter password: ")))

In [ ]:
sqlstring = "SELECT K_DT AS DATE ,COUNT(DISTINCT K_ID) AS IDS FROM DB2.FACT_TABLE GROUP BY K_DT ORDER BY DATE"
          
df= pd.read_sql(sqlstring, cnx)

df.head()