# Data Programming in Python | BAIS:6040
# Flow Control & Functional Programming

Instructor: Jeff Hendricks 

Topics to be covered:
- Flow Control (+ exercises)
- List Comprehensions (+ exercises)
- Functional Programming (+ exercises)

References: 
- Learning Python, 5th Edition by Mark Lutz (http://shop.oreilly.com/product/0636920028154.do)
- Python Programming by en.wikibooks.org (https://en.wikibooks.org/wiki/Python_Programming)

## Flow Control

There are three main categories of program control flow in Python:
- branches (if, elif, else)
- loops (for loops, while loops)
- function calls

## ▪ Branches

if test1:
    statements1
elif test2:
    statements2
else:
    statements3

The Python <b>if</b> statement takes the form of an <b>if</b> test, followed by one or more optional <b>elif</b> ("else if") tests and a final optional <b>else</b> block.

The tests and <b>else</b> part each have an associated block of nested statements, indented under a headline.

When the <b>if</b> statement runs, Python executes the block of code associated with the first test that evaluates to true, or the <b>else</b> block if all tests prove false.

In [4]:
x = -3

In [ ]:
if x > 0:
    print("X is positive.")

It prints nothing because the if test evalues to false.

In [5]:
if x > 0:
    print("X is positive.")
else:                                # for the rest of the cases
    print("X is negative.")

X is negative.

In [6]:
if x > 0:
    print("X is positive.")
elif x == 0:
    print("X is zero.")
else:
    print("X is negative.")

X is negative.

In [7]:
if x > 0:
    print("X is positive.")
else:
    if x == 0:
        print("X is zero.")
    else:
        print("X is negative.")

X is negative.

<b>If</b> statements can be nested. Note that this code using nested <b>if-else</b> statements works exactly the same as the previous code using <b>if-elif-else</b> statements. The logic is the same.

In [ ]:
if (type(x) == int) or (type(x) == float) or (type(x) == complex):
    print("X is a number.")
else:
    print("X is not a number.")

You can set a complex condition in a test using Boolean operators.

In [ ]:
if type(x) in [int, float, complex]:
    print("X is a number.")
else:
    print("X is not a number.")

You can use the <b>in</b> operator to combine the three conditions into a single condition.

## Exercises for Branches

1. Write an <b>if</b> statement that prints "Even" if <i>x</i> is an even number and "Odd" if <i>x</i> is an odd number.

In [2]:
x = 5

In [14]:
# Your answer here
if x%2==0:
    print('Even')
else:
    print('Odd')

Odd

2. Write an <b>if</b> statement that prints "Integer" if <i>x</i> is an integer, "Float" if <i>x</i> is a floating point number, "Complex" if <i>x</i> is a complex number, and "Not a number" otherwise.

In [16]:
# Your answer here
if type(x)==int:
    print ('Integer')
elif type(x)==float:
    print ('Float')
elif type(x)==complex:
    print ('Complex')
else:
    print('Not a number')

Integer

3. Write an <b>if</b> statement that prints "x is greater than y." if <i>x</i> is greater than <i>y</i>, "x equals y." if <i>x</i> equals <i>y</i>, and "x is smaller than y." otherwise.

In [18]:
x, y = 3, 5

In [19]:
# Your answer here
if x>y:
    print ('x is greater than y.')
elif x<y:
    print ('x is smaller than y.')
else:
    print('x equals y.')

x is smaller than y.

## Loops - for Loops

The <b>for</b> loop steps through the items in any ordered sequence or other iterable object.

for target in object:
    statements

- It begins with a header line that specifies an assignment target (or targets), along with the object you want to step through. 
- The header is followed by a block of (normally indented) statements that you want to repeat. 
- When Python runs a <b>for</b> loop, it assigns the items in the iterable <i>object</i> to the <i>target</i> one by one and executes the loop body for each. 
- The loop body typically uses the assignment target to refer to the current item in the sequence.

In [8]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
for num in l:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [10]:
sum1 = 0
for num in l:
    sum1 += num     # The same as sum1 = sum1 + num

To get the sum of numbers in <i>l</i>, you need a variable, <i>sum1</i> in the above example, to store the intermediate sum calculated from each iteration. Note that the initial value of <i>sum1</i> was set to 0 to be added by any number later.

In [11]:
sum1

55

In [12]:
sum1 == sum(l)

True

In [13]:
product = 1
for num in l:
    product *= num   # The same as product = product * num

Note that the initial value of <i>product</i> was set to 1 to be multiplied by any number later.

In [14]:
product

3628800

In [15]:
s = "Python"
for c in s:
    print(c, end=" ")     # end: sets a string appended after the last value, default a newline.

P y t h o n

The <b>for</b> loop can iterate over a string.

In [20]:
employees = [("Alice", 30), ("Bob", 25), ("Tom", 34)]

The <b>for</b> loop can iterate over any iterable object.

In [21]:
for t in employees:
    name = t[0]
    age = t[1]
    print("Name: {}, Age: {}".format(name, age))

Name: Alice, Age: 30
Name: Bob, Age: 25
Name: Tom, Age: 34

In [22]:
for t in employees:
    name, age = t
    print("Name: {}, Age: {}".format(name, age))

Name: Alice, Age: 30
Name: Bob, Age: 25
Name: Tom, Age: 34

Instead of assigning values to <i>name</i> and <i>age</i> each, you can assign the values directly from a tuple.

In [23]:
for (name, age) in employees:
    print("Name: {}, Age: {}".format(name, age))

Name: Alice, Age: 30
Name: Bob, Age: 25
Name: Tom, Age: 34

A better way to assign values is to unpack the tuple in the header line. The header line automatically unpacks the current tuple on each iteration.

In [24]:
for name, age in employees:
    print("Name: {}, Age: {}".format(name, age))

Name: Alice, Age: 30
Name: Bob, Age: 25
Name: Tom, Age: 34

You can skip the round brackets around the targets in the header line. This is the easiest way to access each tuple in a list.

In [25]:
buildings = {"UCC": "University Capitol Center",
             "CPHB": "College of Public Health Building",
             "IMU": "Iowa Memorial Union"}

In [27]:
for key in buildings:
    val = buildings[key]
    print("{} ({})".format(key, val))

UCC (University Capitol Center)
CPHB (College of Public Health Building)
IMU (Iowa Memorial Union)

One way to iterate over a dictionary is to use the keys.

In [28]:
for key, val in buildings.items():
    print("{} ({})".format(key, val))

UCC (University Capitol Center)
CPHB (College of Public Health Building)
IMU (Iowa Memorial Union)

Another way to interate over a dicitonary is to use the <b>items()</b> method that returns (key, value) tuples. In this case, you can unpack the key and value in the header line.

In [29]:
s = {"cat", "dog", "bird"}

In [30]:
for item in s:
    print(item)

dog
cat
bird

Order of set elements is random. You cannot change the order unless you convert the set to other type such as list.

### Iteration Using the Index

You can iterate over an iterable object using its index.

In [31]:
l = range(19, 300, 19)
list(l)

[19, 38, 57, 76, 95, 114, 133, 152, 171, 190, 209, 228, 247, 266, 285]

The list <i>l</i> is a list of multiples of 19 between 19 and 299.

In [28]:
for num in l:
    print(num, end=" ")

19 38 57 76 95 114 133 152 171 190 209 228 247 266 285

In [30]:
range(len(l))

range(0, 15)

In [31]:
for i in range(len(l)):
    print(l[i], end=" ")

19 38 57 76 95 114 133 152 171 190 209 228 247 266 285

You can do the same thing using the index of <i>l</i>. This is useful when you need to track the number of items visited at each iteration.

In [32]:
for i in range(len(l)):
    print("{}: {}".format(i, l[i]))

0: 19
1: 38
2: 57
3: 76
4: 95
5: 114
6: 133
7: 152
8: 171
9: 190
10: 209
11: 228
12: 247
13: 266
14: 285

### Nested for Loops

In [33]:
l1 = ["a", "b", "c"]
l2 = ["x", "y", "z"]

In [34]:
for item1 in l1:               # outer for loop
    for item2 in l2:           # inner for loop
        print(item1 + item2)

ax
ay
az
bx
by
bz
cx
cy
cz

The inner for loop runs for every item in the outer for loop.

In [35]:
for item2 in l2:               # outer for loop
    for item1 in l1:           # inner for loop
        print(item1 + item2)

ax
bx
cx
ay
by
cy
az
bz
cz

The order of retrieving and printing elements depends on how it is described in the nested <b>for</b> loop.

In [36]:
l1 = ["a", "b", "c"]
l2 = ["x", "y", "z"]
l3 = ["p", "q", "r"]

for item1 in l1:
    for item2 in l2:
        for item3 in l3:
            print(item1 + item2 + item3)

axp
axq
axr
ayp
ayq
ayr
azp
azq
azr
bxp
bxq
bxr
byp
byq
byr
bzp
bzq
bzr
cxp
cxq
cxr
cyp
cyq
cyr
czp
czq
czr

You can write a nested <b>for</b> loop with a depth of 3.

In [37]:
l = ["1", "2", "3"]

for item1 in l:
    for item2 in l:
        for item3 in l:
            print(item1 + item2 + item3)

111
112
113
121
122
123
131
132
133
211
212
213
221
222
223
231
232
233
311
312
313
321
322
323
331
332
333

You can write a nested <b>for</b> loop using even a single loop.

## Exercises for for Loops (16 Questions)

1. Write a <b>for</b> loop that prints all integers from 0 to 99, separated by a tab.

In [37]:
# Your answer here
for i in range(100):
    print(i, end="\t")

0	1	2	3	4	5	6	7	8	9	10	11	12	13	14	15	16	17	18	19	20	21	22	23	24	25	26	27	28	29	30	31	32	33	34	35	36	37	38	39	40	41	42	43	44	45	46	47	48	49	50	51	52	53	54	55	56	57	58	59	60	61	62	63	64	65	66	67	68	69	70	71	72	73	74	75	76	77	78	79	80	81	82	83	84	85	86	87	88	89	90	91	92	93	94	95	96	97	98	99

2. Write a <b>for</b> loop that prints all characters in <i>s</i>, separated by a tab.

In [53]:
s = "zabcdefghijklmnopqrstuvwxy"

In [54]:
# Your answer here
for c in s:
    print(c, end="\t")

z	a	b	c	d	e	f	g	h	i	j	k	l	m	n	o	p	q	r	s	t	u	v	w	x	y

3. Write a <b>for</b> loop that prints the same as right above, but this time using the index of <i>s</i>.

In [55]:
# Your answer here
for c in sorted(s):
    print(c, end="\t")

a	b	c	d	e	f	g	h	i	j	k	l	m	n	o	p	q	r	s	t	u	v	w	x	y	z

4. Write a <b>for</b> loop that prints the same as right above except that the letters at odd index number positions are printed in upper case, while those at even index number positions are printed as they are.

In [56]:
# Your answer here
odd = true
for c in sorted(s):
    print(c, end="\t")

ValueError: not enough values to unpack (expected 2, got 1)

5. Write a <b>for</b> loop that prints "NAME is SEX and aged AGE." for all tuples in <i>employees</i>, separated by a new line, where NAME is the first value in each tuple, SEX the second, and AGE the thrid. For example, the first line should look as follows: <i>Alice is female and aged 30.</i>

In [ ]:
employees = [("Alice", 30, "female"), ("Bob", 25, "male"), ("Tom", 34, "male")]

In [ ]:
# Your answer here

6. Write a <b>for</b> loop that prints "ABBREVIATION is the abbreviation for FULLNAME." for all key-value pairs in <i>states</i>, separated by a new line, where ABBREVIATION is the key in <i>states</i> and FULLNAME the key. For example, the first line should look as follows: <i>IA is the abbreviation for Iowa.</i>

In [ ]:
states = {"IA": "Iowa", "IL": "Illinois", "MN": "Minnesota", "NE": "Nebraska", "WI": "Wisconsin"}

In [ ]:
# Your answer here

7. Write a <b>for</b> loop that prints all names in <i>names</i> in uppercase, separated by a new line.

In [ ]:
names = ["Alice", "Bob", "Mary", "Sam", "Sarah", "Tom"]

In [ ]:
# Your answer here

8. Write a <b>for</b> loop that prints the first two characters of each name in <i>names</i> in lowercase, separated by a new line.

In [ ]:
# Your answer here

9. Write a <b>for</b> loop that only prints the names in <i>names</i> with a length of 3, separated by a new line.

In [ ]:
# Your answer here

10. Write a <b>for</b> loop that only prints the names in <i>names</i> that end with either <i>m</i> or <i>y</i>, separated by a new line.

In [ ]:
# Your answer here

11. Write a <b>for</b> loop that prints the pairs of two items that are at the same position in <i>men</i> and <i>women</i>, respectively, for example, Bob & Alice, Sam & Mary, and Tom & Sarah, separated by a new line. (Use the <b>zip()</b> built-in fuction.)

In [ ]:
men = ["Bob", "Sam", "Tom"]
women = ["Alice", "Mary", "Sarah"]

In [ ]:
# Your answer here

12. Write a nested <b>for</b> loop that prints all possible pairs of the two names from <i>men</i> and <i>women</i>, respectively, for example, Bob & Alice, Bob & Mary, Bob & Sarah, Sam & Alice, ..., and Tom & Sarah, separated by a new line.

In [ ]:
# Your answer here

13. The list <i>l</i> is a list of odd numbers from 1 to 999. Write a <b>for</b> loop that adds all numbers in <i>l</i> one after another. It should print the final sum after the <b>for</b> loop.

In [ ]:
l = range(1, 1000, 2)

In [ ]:
# Your answer here

14. Check if the result from the <b>for</b> loop matches the result from the <b>sum</b> function.

In [ ]:
# Your answer here

15. Write a <b>for</b> loop that adds all numbers in <i>l</i> one after another, printing the current sum for every 10th number (i.e., at the index positions 9, 19, 29, ...). It should print the final sum after the <b>for</b> loop.

In [ ]:
# Your answer here

16. Write a <b>for</b> loop that calculates the product of the first 10 numbers in <i>l</i>. It should print the final product after the <b>for</b> loop.

In [ ]:
# Your answer here

### List Comprehensions

List comprehensions are used for quickly creating a new list from another iterables using <b>for</b> loops.

In [38]:
l1 = [1, 2, 3]

In [39]:
l2 = []
for num in l1:
    l2.append(num * 10)

l2

[10, 20, 30]

You want to create a new list <i>l2</i> by multiplying each element of <i>l1</i> by 10.

In [40]:
l2 = [num * 10 for num in l1]
l2

[10, 20, 30]

Using list comprehension, you simply describe the process using which the list should be created.

In [41]:
l1 = ["1", "2", "3"]
l2 = ["a", "b", "c"]

In [42]:
%%time
l3 = []
for s1 in l1:         
    for s2 in l2:
        l3.append(s1 + s2)
l3

Wall time: 0 ns

['1a', '1b', '1c', '2a', '2b', '2c', '3a', '3b', '3c']

You want to create a new list <i>l3</i> by concatenating all pairs of elements from <i>l1</i> and <i>l2</i>.

In [43]:
%%time
l3 = [s1 + s2 for s1 in l1 for s2 in l2]
l3

Wall time: 0 ns

['1a', '1b', '1c', '2a', '2b', '2c', '3a', '3b', '3c']

List comprehensions have not only the code length advantage, but also the time advantage. List comprehensions are 35% faster than for loops.

## Exercises for List Comprehensions (4 Questions)

1. Using list comprehension, create a list of squares of the numbers from <i>l</i>.

In [ ]:
l = [1, 2, 3, 4, 5]

In [ ]:
# Your answer here

2. Using list comprehension, create a list of lists, each of which contains the square and cube of each number from <i>l</i>.

In [ ]:
# Your answer here

3. Using list comprehension, create a list of the names from <i>l</i> in lower case.

In [ ]:
names = ["Alice", "Bob", "Tom"]

In [ ]:
# Your answer here

4. Using list comprehension, create a list of tuples, each of which contains each name from <i>l</i> and the length of the name.

In [ ]:
# Your answer here

### break, continue, and pass Statements in Loops

- <b>break</b>: exits the current loop (past the entire loop statement)
- <b>continue</b>: jumps to the header line of the current loop
- <b>pass</b>: does nothing at all (i.e., an empty statement placeholder)

These statements are typically used in an <b>if</b> statement.

In [ ]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
for num in l:
    if num == 5:
        break       # Stops!
    else:
        print(num)

The <b>for</b> loop prints each number in <i>l</i> from the beginning and stops when it sees 5.

In [ ]:
for num in l:
    if num % 2 == 0: 
        continue     # Moves on to the next iteration of the loop
    else:
        print(num)

The <b>for</b> loop prints only the odd numbers in <i>l</i>.

In [ ]:
for num in l:
    if num % 2 == 1:
        print(num)

This <b>for</b> loop works the same as the previous one.

In [ ]:
for num in l:
    pass

The <b>pass</b> statement is used when the syntax requires a statement, but you have nothing useful to say. It is ofen used to code an empty body for a compound statement.

In [ ]:
for num in l:

The loop body requires any valid statement.

## Exercises for break, continue, and pass (4 Questions)

1. Write a <b>for</b> loop that prints all names in <i>employees</i> except for Mary.

In [ ]:
employees = ["Alice", "Bob", "Mary", "Sam", "Sarah", "Tom"]

In [ ]:
# Your answer here

2. Write a <b>for</b> loop that prints the names in <i>employees</i> from the beginning but stops when it sees Mary.

In [ ]:
# Your answer here

3. The list <i>l</i> is a list of odd numbers from 1 to 1000. Write a <b>for</b> loop that adds all numbers in <i>l</i> except for multiples of 5. It should print the final sum after the <b>for</b> loop.

In [ ]:
l = range(1, 1000, 2)

In [ ]:
# Your answer here

4. Write a <b>for</b> loop that adds numbers in <i>l</i> from the beginning but stops when the sum exceeds 1000, printing the current sum and the number last added.

In [ ]:
# Your answer here

## Loops - while Loops

The <b>while</b> loop repeatedly executes a block of statements as long as a test at the top keeps evaluating to a true value.

while test:
    statements

- It begins with a header line with a test expression. 
- The header is followed by a block of (normally indented) statements that you want to repeat. 
- Python keeps evaluating the test at the top and executing the statements in the loop body until the test returns a false value.

In [ ]:
x, y = 0, 5

while x < y:
    print(x)
    x += 1

In [ ]:
x, y = 0, 5

while True:
    if x >= y:
        break
    print(x)
    x += 1

The <b>while</b> loops with the test expression True need an <b>if</b> statement and <b>break</b> in the loop body, so that it can stop.

In [ ]:
while True:
    s = input("Enter a string: ")
    if s == "stop":
        break
    else:
        print("Length: {}".format(len(s)))

You can write a simple interactive loop that inputs data with the built-in <b>input()</b> function.

## Exercises for while Loops (2 Questions)

1. Write a <b>while</b> loop that repeatedly prints the current value of <i>x</i> ane then divides <i>x</i> in half at each iteration and stops when <i>x</i> becomes less than 1.

In [ ]:
x = float(1000)

In [ ]:
# Your answer here

2. Write a <b>while</b> loop that interactively asks the user to enter an integer and tells if the number is even or odd. It exits when the user enters "stop".

In [ ]:
# Your answer here

## Lambda Functions & Functional Programming

A lambda or anonymous function is a block of code that is used to perform a specific action in line with another code statement.

They can be used with functional programming tools like map(), reduce(), and filter() to write code without explicit loops.

It can be considered good practice to avoid explicit loops on the python level where possible. List comprehensions and functional programming tools help avoid explicit loops.

The following can be interpreted as applying (mapping) every value in the range from 0 to 4 to the lambda function that adds 2 to every input value. The results of the mapping are stored as a list.

In [44]:
list(map(lambda x: x+2, range(5)))

[2, 3, 4, 5, 6]

This example uses filter() and a lambda function to create a list of all the even numbers between 0 and 14.

In [47]:
list(filter(lambda x: x % 2 == 0, range(15)))

[0, 2, 4, 6, 8, 10, 12, 14]

The reduce(fun,seq) function is used to apply a particular function passed in its argument to all of the list elements mentioned in the sequence passed along.This function is defined in “functools” module.

The following finds the product of all the numbers in the range from 1 to 4.

In [48]:
import functools

functools.reduce(lambda x,y: x*y, range(1,5,1))

24

## Exercises for Lambda Functions (2 Questions)

1. Create a list of results from taking 7 times every number in the range from 1 to 10 inclusive as a lambda function using the map() function.

In [ ]:
# Your answer here

2. Create a list of all the numbers divisible by 3 in the range from 0 to 30 inclusive as a lambda function using the filter() function.

In [ ]:
# Your answer here