In [2]:
t1=('Alice',30)
t2=('Sam',40)
l = [t1,t2]

print(l)

[('Alice', 30), ('Sam', 40)]

In [3]:
tup1,tup2 = l
print(tup1)
print(tup2)

('Alice', 30)
('Sam', 40)

In [4]:
tup1,_ = l
tup1

('Alice', 30)

In [5]:
_

('Sam', 40)

In [6]:
(name1,age1),(name2,age2) = l
print(name1)
print(age1)
print(name2)
print(age2)

Alice
30
Sam
40

In [7]:
(name1,_),(name2,_) = l
print(name1)
print(name2)

Alice
Sam

In [8]:
(name1,_),_ = l
print(name1)

Alice

In [9]:
_

('Sam', 40)

In [10]:
def testTupleRet():
    t1=('Alice',30)
    t2=('Sam',40)
    return [t1,t2]

def testTupleRet2():
    t1=('Alice',30)
    t2=('Sam',40)
    return (t1,t2)

In [11]:
tup1,tup2 = testTupleRet()
print(tup1)
print(tup2)

('Alice', 30)
('Sam', 40)

In [18]:
(name1,age1),(name2,age2)=testTupleRet()
print(name1)
print(age1)
print(name2)
print(age2)

Alice
30
Sam
40

In [14]:
name1,age1,name2,age2=testTupleRet()

ValueError: not enough values to unpack (expected 4, got 2)

In [15]:
(name1,age1),(name2,age2)=testTupleRet2()

print(name1)
print(age1)
print(name2)
print(age2)

Alice
30
Sam
40