# Data Programming in Python | BAIS:6040
# Module 1. Python Basics - Exercise Solutions

## Exercises - Strings

In [1]:
s = "I'm learning Python data analytics."

Get the first character in <i>s</i>.

In [2]:
# Your answer here
s[0]

'I'

Get the last character in <i>s</i>.

In [3]:
# Your answer here
s[-1]

'.'

Get the first 3 characters in <i>s</i>.

In [4]:
# Your answer here
s[:3]

"I'm"

Get the last 10 characters in <i>s</i>.

In [5]:
# Your answer here
s[-10:]

'analytics.'

Check if the substring <i>Python</i> is in <i>s</i>.

In [6]:
# Your answer here (using the in operator)
"Python" in s

True

In [7]:
# Your answer here (using the find method)
s.find("Python")

13

In [8]:
# Your answer here (using the index method)
s.index("Python")

13

Get only the <i>Python</i> part in <i>s</i>. (Use a range filter.)

In [9]:
# Your answer here
s[13:19]

'Python'

Get the lower-case version of <i>s</i>.

In [10]:
# Your answer here
s.lower()

"i'm learning python data analytics."

Count the number of <i>yt</i>s in <i>s</i>.

In [11]:
# Your answer here
s.count("yt")

2

Remove all whitespaces in <i>s</i>. (Use <b>replace</b>.)

In [12]:
# Your answer here
s.replace(" ", "")

"I'mlearningPythondataanalytics."

Remove the trailing period in <i>s</i> and then split it into a list of words, or tokens. (Use dot notation.)

In [13]:
# Your answer here
s.rstrip(".").split()

["I'm", 'learning', 'Python', 'data', 'analytics']

Join all names in the list <i>names</i> using a comma as separator.

In [14]:
names = ["Alice", "Bob", "Tom"]

In [15]:
# Your answer here
", ".join(names)

'Alice, Bob, Tom'

## Exercises - Lists

In [16]:
animals = ["dog", "cat", "bird", "tiger", "lion", "fox"]

Check if <i>elephant</i> is in <i>animals</i>. The output must be either True or False.

In [17]:
# Your answer here
"elephant" in animals

False

Append a new element <i>elephant</i> to <i>animals</i>. Be careful not to append the element multple times.

In [18]:
# Your answer here
animals.append("elephant")
animals

['dog', 'cat', 'bird', 'tiger', 'lion', 'fox', 'elephant']

Get the number of elements in <i>animals</i>.

In [19]:
# Your answer here
len(animals)

7

Get the first 5 items in <i>animals</i>.

In [20]:
# Your answer here
animals[:5]

['dog', 'cat', 'bird', 'tiger', 'lion']

Get a new reversed list of <i>animals</i>.

In [21]:
# Your answer here
list(reversed(animals))

['elephant', 'fox', 'lion', 'tiger', 'bird', 'cat', 'dog']

Get a new sorted list of <i>animals</i> in descending alphabetical order.

In [22]:
# Your answer here
sorted(animals, reverse=True)

['tiger', 'lion', 'fox', 'elephant', 'dog', 'cat', 'bird']

## Exercises - Tuples

Manually create a list <i>family</i> of tuples, each of which contains the name of your family member and their age.

In [23]:
# Your answer here
family = [("Me", 25), ("Mom", 45), ("Dad", 50)]

Get the first tuple, or member, in <i>family</i>.

In [24]:
# Your answer here
family[0]

('Me', 25)

Get the name of the first member in <i>family</i>.

In [25]:
# Your answer here
family[0][0]

'Me'

Get the age of the last member in <i>family</i>.

In [26]:
# Your answer here
family[-1][1]

50

## Exercises - Dictionaries

Manually create a dictionary named <i>ages</i> with the names of your family members being the keys and their ages being the values.

In [27]:
# Your answer here
ages = {"Me": 25, "Mom": 45, "Dad": 50}

Check if <i>Spiderman</i> is in <i>ages</i>. The output must be either True or False.

In [28]:
# Your answer here
"Spiderman" in ages

False

Add a new name-age pair ("Spiderman", 20) to <i>ages</i>.

In [29]:
# Your answer here
ages["Spiderman"] = 20

Get the age of <i>Spiderman</i> using <i>ages</i>.

In [30]:
# Your answer here
ages["Spiderman"]

20

## Exercises - Sets

Manually create a set named <i>s1</i> of even numbers between 1 and 20.

In [31]:
# Your answer here
s1 = {2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

Manually create a set named <i>s2</i> of multiples of 3 between 1 and 20.

In [32]:
# Your answer here
s2 = {3, 6, 9, 12, 15, 18}

Get the union of <i>s1</i> and <i>s2</i>.

In [33]:
# Your answer here
s1 | s2

{2, 3, 4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20}

Get the intersection of <i>s1</i> and <i>s2</i>.

In [34]:
# Your answer here
s1 & s2

{6, 12, 18}

## Exercises - Built-in Functions

Check if all items in <i>l</i> is True. The output must be either True or False.

In [35]:
l = [True, True, True, True, True, True, True, True, True, True, False, True, True, True, True]

Check if all items in <i>l</i> are True. The output must be either True or False.

In [36]:
# Your answer here
all(l)

False

Check if any item in <i>l</i> is True. The output must be either True or False.

In [37]:
l = [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False]

In [38]:
# Your answer here
any(l)

False

Get the min value in <i>l</i>.

In [39]:
l = [5, 13, 76, 9, 93, 28, 49, 76, 9, 88]

In [40]:
# Your answer here
min(l)

5

Get the max value in <i>l</i>.

In [41]:
# Your answer here
max(l)

93

Get the sum of all values in <i>l</i>.

In [42]:
# Your answer here
sum(l)

446

Generate a list of all two-digit integers.

In [43]:
# Your answer here
list(range(10, 100))

[10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

Generate a list of all two-digit even integers.

In [44]:
# Your answer here
list(range(10, 100, 2))

[10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

Get the value of 2 to the power of 10.

In [45]:
# Your answer here
pow(2, 10)

1024

Get the number of 0.333333333333 rounded to 2 precision.

In [46]:
# Your answer here
round(0.333333333333, 2)

0.33