# Data Programming in Python | BAIS:6040
# Flow Control & Functional Programming - Exercise Solutions

## Exercises for Branches

1. Write an <b>if</b> statement that prints "Even" if <i>x</i> is an even number and "Odd" if <i>x</i> is an odd number.

In [ ]:
x = 5

In [ ]:
# Your answer here
if x % 2 == 0:
    print("Even")
else:
    print("Odd")

2. Write an <b>if</b> statement that prints "Integer" if <i>x</i> is an integer, "Float" if <i>x</i> is a floating point number, "Complex" if <i>x</i> is a complex number, and "Not a number" otherwise.

In [ ]:
# Your answer here

if type(x) == int:
    print("Integer")
elif type(x) == float:
    print("Float")
elif type(x) == complex:
    print("Complex")
else:
    print("Not a number")

3. Write an <b>if</b> statement that prints "x is greater than y." if <i>x</i> is greater than <i>y</i>, "x equals y." if <i>x</i> equals <i>y</i>, and "x is smaller than y." otherwise.

In [ ]:
x, y = 3, 5

In [ ]:
# Your answer here

if x > y:
    print("x is greater than y")
elif x == y:
    print("x equals y")
else:
    print("x is smaller than y")

## Exercises for for Loops (16 Questions)

1. Write a <b>for</b> loop that prints all integers from 0 to 99, separated by a tab.

In [ ]:
# Your answer here
for num in range(0, 100):
    print(num, end="\t")

2. Write a <b>for</b> loop that prints all characters in <i>s</i>, separated by a tab.

In [ ]:
s = "abcdefghijklmnopqrstuvwxyz"

In [ ]:
# Your answer here
for c in s:
    print(c, end="\t")

3. Write a <b>for</b> loop that prints the same as right above, but this time using the index of <i>s</i>.

In [ ]:
# Your answer here
for i in range(len(s)):
    print(s[i], end="\t")

4. Write a <b>for</b> loop that prints the same as right above except that the letters at odd index number positions are printed in upper case, while those at even index number positions are printed as they are.

In [ ]:
# Your answer here
for i in range(len(s)):
    if i % 2 == 1:
        print(s[i].upper(), end="\t")
    else:
        print(s[i], end="\t")

5. Write a <b>for</b> loop that prints "NAME is SEX and aged AGE." for all tuples in <i>employees</i>, separated by a new line, where NAME is the first value in each tuple, SEX the second, and AGE the thrid. For example, the first line should look as follows: <i>Alice is female and aged 30.</i>

In [ ]:
employees = [("Alice", 30, "female"), ("Bob", 25, "male"), ("Tom", 34, "male")]

In [ ]:
# Your answer here
for name, age, sex in employees:
    print("{} is {} and aged {}.".format(name, sex, age))

6. Write a <b>for</b> loop that prints "ABBREVIATION is the abbreviation for FULLNAME." for all key-value pairs in <i>states</i>, separated by a new line, where ABBREVIATION is the key in <i>states</i> and FULLNAME the key. For example, the first line should look as follows: <i>IA is the abbreviation for Iowa.</i>

In [ ]:
states = {"IA": "Iowa", "IL": "Illinois", "MN": "Minnesota", "NE": "Nebraska", "WI": "Wisconsin"}

In [ ]:
# Your answer here
for key in states:
    print("{} is the abbreviation for {}.".format(key, states[key]))

7. Write a <b>for</b> loop that prints all names in <i>names</i> in uppercase, separated by a new line.

In [ ]:
names = ["Alice", "Bob", "Mary", "Sam", "Sarah", "Tom"]

In [ ]:
# Your answer here
for name in names:
    print(name.upper())

8. Write a <b>for</b> loop that prints the first two characters of each name in <i>names</i> in lowercase, separated by a new line.

In [ ]:
# Your answer here
for name in names:
    print(name.lower()[:2])     # Or item[:2].lower()

9. Write a <b>for</b> loop that only prints the names in <i>names</i> with a length of 3, separated by a new line.

In [ ]:
# Your answer here
for name in names:
    if len(name) == 3:
        print(name)

10. Write a <b>for</b> loop that only prints the names in <i>names</i> that end with either <i>m</i> or <i>y</i>, separated by a new line.

In [ ]:
# Your answer here
for name in names:
    if (name.endswith("m") or (name.endswith("y"))):
        print(name)

11. Write a <b>for</b> loop that prints the pairs of two items that are at the same position in <i>men</i> and <i>women</i>, respectively, for example, Bob & Alice, Sam & Mary, and Tom & Sarah, separated by a new line. (Use the <b>zip()</b> built-in fuction.)

In [ ]:
men = ["Bob", "Sam", "Tom"]
women = ["Alice", "Mary", "Sarah"]

In [ ]:
# Your answer here
for name1, name2 in zip(men, women):
    print(name1 + " & " + name2)

12. Write a nested <b>for</b> loop that prints all possible pairs of the two names from <i>men</i> and <i>women</i>, respectively, for example, Bob & Alice, Bob & Mary, Bob & Sarah, Sam & Alice, ..., and Tom & Sarah, separated by a new line.

In [ ]:
# Your answer here
for name1 in men:
    for name2 in women:
        print(name1 + " & " + name2)

13. The list <i>l</i> is a list of odd numbers from 1 to 999. Write a <b>for</b> loop that adds all numbers in <i>l</i> one after another. It should print the final sum after the <b>for</b> loop.

In [ ]:
l = range(1, 1000, 2)

In [ ]:
# Your answer here
sum1 = 0
for num in l:
    sum1 += num

print(sum1)

14. Check if the result from the <b>for</b> loop matches the result from the <b>sum</b> function.

In [ ]:
# Your answer here
sum1 == sum(l)

15. Write a <b>for</b> loop that adds all numbers in <i>l</i> one after another, printing the current sum for every 10th number (i.e., at the index positions 9, 19, 29, ...). It should print the final sum after the <b>for</b> loop.

In [ ]:
# Your answer here
sum1 = 0
for i in range(len(l)):
    sum1 += l[i]
    if i % 10 == 9:
        print(sum1, i)

print(sum1)

16. Write a <b>for</b> loop that calculates the product of the first 10 numbers in <i>l</i>. It should print the final product after the <b>for</b> loop.

In [ ]:
# Your answer here
product = 1
for num in l[:10]:
    product *= num

print(product)

## Exercises for List Comprehensions (4 Questions)

1. Using list comprehension, create a list of squares of the numbers from <i>l</i>.

In [ ]:
l = [1, 2, 3, 4, 5]

In [ ]:
# Your answer here
[num ** 2 for num in l]

2. Using list comprehension, create a list of lists, each of which contains the square and cube of each number from <i>l</i>.

In [ ]:
# Your answer here
[[num ** 2, num ** 3] for num in l]

3. Using list comprehension, create a list of the names from <i>l</i> in lower case.

In [ ]:
names = ["Alice", "Bob", "Tom"]

In [ ]:
# Your answer here
[name.lower() for name in names]

4. Using list comprehension, create a list of tuples, each of which contains each name from <i>l</i> and the length of the name.

In [ ]:
# Your answer here
[(name, len(name)) for name in names]

## Exercises for break, continue, and pass (4 Questions)

1. Write a <b>for</b> loop that prints all names in <i>employees</i> except for Mary.

In [ ]:
employees = ["Alice", "Bob", "Mary", "Sam", "Sarah", "Tom"]

In [ ]:
# Your answer here
for name in employees:
    if name == "Mary":
        continue
    print(name)

2. Write a <b>for</b> loop that prints the names in <i>employees</i> from the beginning but stops when it sees Mary.

In [ ]:
# Your answer here
for name in employees:
    if name == "Mary":
        break
    print(name)

3. The list <i>l</i> is a list of odd numbers from 1 to 1000. Write a <b>for</b> loop that adds all numbers in <i>l</i> except for multiples of 5. It should print the final sum after the <b>for</b> loop.

In [ ]:
l = range(1, 1000, 2)

In [ ]:
# Your answer here
sum1 = 0
for num in l:
    if num % 5 == 0:
        continue
    sum1 += num

sum1

4. Write a <b>for</b> loop that adds numbers in <i>l</i> from the beginning but stops when the sum exceeds 1000, printing the current sum and the number last added.

In [ ]:
# Your answer here
sum1 = 0
for num in l:
    sum1 += num
    if sum1 > 1000:
        print(sum1, num)
        break

## Exercises for while Loops (2 Questions)

1. Write a <b>while</b> loop that repeatedly prints the current value of <i>x</i> ane then divides <i>x</i> in half at each iteration and stops when <i>x</i> becomes less than 1.

In [ ]:
x = float(1000)

In [ ]:
# Your answer here
while x >= 1:
    print(x)
    x /= 2

2. Write a <b>while</b> loop that interactively asks the user to enter an integer and tells if the number is even or odd. It exits when the user enters "stop".

In [ ]:
# Your answer here
while True:
    num = input("Enter an integer: ")
    if num == "stop":
        break
    else:
        if int(num) % 2 == 0: 
            print("{} is an even number.".format(num))
        else:
            print("{} is an odd number.".format(num))

## Exercises for Lambda Functions (2 Questions)

1. Create a list of results from taking 7 times every number in the range from 1 to 10 inclusive as a lambda function using the map() function.

In [ ]:
# Your answer here
list(map(lambda x: x*7, range(1,11)))

2. Create a list of all the numbers divisible by 3 in the range from 0 to 30 inclusive as a lambda function using the filter() function.

In [ ]:
# Your answer here
list(filter(lambda x: x % 3 == 0, range(31)))