# Text Analytics | BAIS:6100
# Homework 1. Python Basics for Text Processing Part 1

16 questions, 7 points in total

## Instructions

- Fill in the Python statements needed to complete all the questions below. 
- Program everything inside this notebook. 
- Use only one cell per question. 
- Each code cell must be run with no errors.
- Do not contain any unnecessary code in your answer. (Only the final outcome will be regarded as your answer.)
- If the question requests that you store information in a certain variable, use the specific variables name (case sensitive).
- All problems must be solved in a programmable way.
- When you are done, make sure to save your notebook and then click Restart & Run All before subimission to create a clean version.

## Questions

You have a string `s` as follows.

*** Do not change the content of `s` while answering the questions.

In [1]:
# Make sure to run this cell.
s = "This year's Golden Globes nominees are a mix of old and new, highlighting what we've been watching from home during the pandemic. Read the list:"
s

"This year's Golden Globes nominees are a mix of old and new, highlighting what we've been watching from home during the pandemic. Read the list:"

1\. (0.4 pts) Get the length of `s` and save it in the variable `ans1`.

In [2]:
# Your answer here
ans1 = len(s)

In [3]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans1

144

2\. (0.4 pts) Select the first 10 characters from `s` and save the substring in the variable `ans2`.

In [4]:
# Your answer here
ans2 = s[:10]

In [5]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans2

"This year'"

3\. (0.4 pts) Select the last 10 characters from `s` and save the substring in the variable `ans3`.

In [6]:
# Your answer here
ans3 = s[-10:]

In [7]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans3

' the list:'

4\. (0.4 pts) Get the frequency of the word *the* in `s` and save it in the variable `ans4`.

In [8]:
# Your answer here
ans4 = s.count("the")

In [9]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans4

2

5\. (0.4 pts) Replace all the occurrences of the word *the* in `s` with its uppercase *THE* and save the new string in the variable `ans5`.

In [10]:
# Your answer here
ans5 = s.replace("the", "THE")

In [11]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans5

"This year's Golden Globes nominees are a mix of old and new, highlighting what we've been watching from home during THE pandemic. Read THE list:"

6\. (0.6 pts) Write a for loop that iterates all the characters in `s` such that if the current character is uppercase, it prints its lowercase, and vice versa. The output must look the same as below. Use the <b>print</b> function to print each character.

tHIS YEAR'S gOLDEN gLOBES NOMINEES ARE A MIX OF OLD AND NEW, HIGHLIGHTING WHAT WE'VE BEEN WATCHING FROM HOME DURING THE PANDEMIC. rEAD THE LIST:

In [12]:
# Your answer here
for c in s:
    if c.isupper():
        print(c.lower(), end="")
    elif c.islower():
        print(c.upper(), end="")
    else:
        print(c, end="")

tHIS YEAR'S gOLDEN gLOBES NOMINEES ARE A MIX OF OLD AND NEW, HIGHLIGHTING WHAT WE'VE BEEN WATCHING FROM HOME DURING THE PANDEMIC. rEAD THE LIST:

In [13]:
# Alternatively
for c in s:
    if c.isupper():
        print(c.lower(), end="")
    else:
        print(c.upper(), end="")

tHIS YEAR'S gOLDEN gLOBES NOMINEES ARE A MIX OF OLD AND NEW, HIGHLIGHTING WHAT WE'VE BEEN WATCHING FROM HOME DURING THE PANDEMIC. rEAD THE LIST:

<hr>

7\. (0.4 pts) Go to this web page https://en.wikipedia.org/wiki/List_of_FIFA_Women%27s_World_Cup_finals and find the table entitled *List of finals matches, their venues and locations, the finalists and final scores*. Create a dictionary `winners` with its keys being the years in the *Year* column of the table and values being the winners in the *Winners* column. For example, the value for the key *1991* is '*United States*'. You may copy-and-paste the information on the web page to fill in the dictionary. The data type of the kyes in the dictionary must be integer, not string.

In [14]:
# Your answer here
winners = {
    1991: "United States",
    1995: "Norway",
    1999: "United States",
    2003: "Germany",
    2007: "Germany",
    2011: "Japan",
    2015: "United States",
    2019: "United States"
}

In [15]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
winners

{1991: 'United States',
 1995: 'Norway',
 1999: 'United States',
 2003: 'Germany',
 2007: 'Germany',
 2011: 'Japan',
 2015: 'United States',
 2019: 'United States'}

In [16]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
type(winners) == dict     # Expected output: True

True

In [17]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
1991 in winners           # Expected output: True

True

8\. (0.4 pts) Get the winner of the year 2019 using `winners` and save it in the variable `ans8`.

In [18]:
# Your answer here
ans8 = winners[2019]

In [19]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans8

'United States'

9\. (0.6 pts) Create another dictionary `winners_detail` with the same keys as `winners` but its values being another dictionaries, each of which has three keys '*winner*', '*score*', and '*runner-up*' as well as their values coming from the three columns *Winners*, *Score*, and *Runners-up* of the table, respectively. For example, the value for the key *1991* is a dictionary with the three keys '*winner*', '*score*', and '*runner-up*' and their values '*United States*', '*2-1*', and '*Norway*', respectively.

*** Filling in the dictionary must be a hassle, but please just do so for now. We are going to learn how to automatically extract information from a web page in Module 6.

In [20]:
# Your answer here
winners_detail = {
    1991: {"winner": "United States", "score": "2-1", "runner-up": "Norway"},
    1995: {"winner": "Norway", "score": "2-0", "runner-up": "Germany"},
    1999: {"winner": "United States", "score": "0-0", "runner-up": "China PR"},
    2003: {"winner": "Germany", "score": "2-1", "runner-up": "Sweden"},
    2007: {"winner": "Germany", "score": "2-0", "runner-up": "Brazil"},
    2011: {"winner": "Japan", "score": "2-2", "runner-up": "United States"},
    2015: {"winner": "United States", "score": "5-2", "runner-up": "Japan"},
    2019: {"winner": "United States", "score": "2-0", "runner-up": "Netherlands"}
}

In [21]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
winners_detail

{1991: {'winner': 'United States', 'score': '2-1', 'runner-up': 'Norway'},
 1995: {'winner': 'Norway', 'score': '2-0', 'runner-up': 'Germany'},
 1999: {'winner': 'United States', 'score': '0-0', 'runner-up': 'China PR'},
 2003: {'winner': 'Germany', 'score': '2-1', 'runner-up': 'Sweden'},
 2007: {'winner': 'Germany', 'score': '2-0', 'runner-up': 'Brazil'},
 2011: {'winner': 'Japan', 'score': '2-2', 'runner-up': 'United States'},
 2015: {'winner': 'United States', 'score': '5-2', 'runner-up': 'Japan'},
 2019: {'winner': 'United States', 'score': '2-0', 'runner-up': 'Netherlands'}}

In [22]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
type(winners_detail) == dict     # Expected output: True

True

In [23]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
1991 in winners_detail           # Expected output: True

True

10\. (0.4 pts) Get the score for the year 2019 using `winners_detail` and save it in the variable `ans10`.

In [24]:
# Your answer here
ans10 = winners_detail[2019]["score"]

In [25]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans10

'2-0'

11\. (0.4 pts) Add a new key *2022* to `winners_detail` with its value being a dictionary with all of the three values being '*N/A*'.

In [26]:
# Your answer here
winners_detail[2022] = {"winner": "N/A", "score": "N/A", "runner-up": "N/A"}

In [27]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
winners_detail

{1991: {'winner': 'United States', 'score': '2-1', 'runner-up': 'Norway'},
 1995: {'winner': 'Norway', 'score': '2-0', 'runner-up': 'Germany'},
 1999: {'winner': 'United States', 'score': '0-0', 'runner-up': 'China PR'},
 2003: {'winner': 'Germany', 'score': '2-1', 'runner-up': 'Sweden'},
 2007: {'winner': 'Germany', 'score': '2-0', 'runner-up': 'Brazil'},
 2011: {'winner': 'Japan', 'score': '2-2', 'runner-up': 'United States'},
 2015: {'winner': 'United States', 'score': '5-2', 'runner-up': 'Japan'},
 2019: {'winner': 'United States', 'score': '2-0', 'runner-up': 'Netherlands'},
 2022: {'winner': 'N/A', 'score': 'N/A', 'runner-up': 'N/A'}}

<hr>

`tweets_cnnbrk` is a list of recent tweet strings from the timeline of CNN Breaking News on Twitter.

*** Do not change the content of `tweets_cnnbrk` while answering the questions.

In [28]:
tweets_cnnbrk = [
    "The United States Navy sent a guided-missile destroyer through the Taiwan Strait on Thursday, the first time a US warship has gone through the waterway that separates China and Taiwan during the Biden administration.",
    "Internet and news services continue to be disrupted across Myanmar as the country's military seeks to secure their grip on power after deposing the democratically-elected government.",
    "House Republicans vote to keep Rep. Liz Cheney in leadership after she defended her impeachment vote.",
    "Senate approves a power-sharing agreement that formally hands over control of committees to Democrats.",
    "House Democrats will take the first steps to remove Rep. Marjorie Taylor Greene from her committee assignments, Majority Leader Hoyer says.",
    "The Justice Department drops a Trump administration lawsuit that accused Yale University of discriminating against Asian American and White applicants.",
    "This year's Golden Globes nominees are a mix of old and new, highlighting what we've been watching from home during the pandemic. Read the list:",
    "Myanmar's ousted civilian leader, Aung San Suu Kyi, has been remanded in custody for two weeks under import-export laws, her party says.",
    "President Biden paid his respects to Capitol Police Officer Brian Sicknick, whose remains lie in honor after he was killed in the insurrection.",
    "The House of Representatives has officially created a new rule that will fine any member for failing to complete security screening prior to entering the House floor.",
    "Amazon CEO Jeff Bezos is stepping down later this year, and will transition to the role of executive chair.",
    "Face masks are now required in US national parks when visitors can't maintain physical distance and in all National Park Service buildings.",
    "The Senate confirms Alejandro Mayorkas as Homeland Security secretary. He is the first Latino and immigrant to serve at the helm of the department.",
    "Legendary Emmy and Tony Award-winning actor Hal Holbrook has died, his daughter confirms. Holbrook portrayed iconic author Mark Twain in one-man shows for more than six decades.",
    "FBI Director Christopher Wray identified the agents killed in the Sunrise, Florida, shootout as Special Agent Daniel Alfin and Special Agent Laura Schwartzenberger."
]

12\. (0.4 pts) Get the number of elements, or strings, in `tweets_cnnbrk` and save it in the variable `ans12`.

In [29]:
# Your answer here
ans12 = len(tweets_cnnbrk)

In [30]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans12

15

13\. (0.4 pts) Write a for loop that iterates the strings in `tweets_cnnbrk` printing only the strings that have fewer than 120 characters. Use the <b>print</b> function to print each string. Printed strings are separated by a new line.

In [31]:
# Your answer here
for item in tweets_cnnbrk:
    if len(item) < 120:
        print(item, end="\n")

House Republicans vote to keep Rep. Liz Cheney in leadership after she defended her impeachment vote.
Senate approves a power-sharing agreement that formally hands over control of committees to Democrats.
Amazon CEO Jeff Bezos is stepping down later this year, and will transition to the role of executive chair.

14\. (0.6 pts) Using list comprehension, create a new list `ans14` from `tweets_cnnbrk` such that the new list has only the first 30 characters of each string in `tweets_cnnbrk` followed by '*...*'. For example, the first two items in `ans14` are '*The United States Navy sent a ...*' and '*Internet and news services con...*'.

*** Make sure to use list comprehension as opposed to using a for loop.

In [32]:
# Your answer here
ans14 = [item[:30] + "..." for item in tweets_cnnbrk]

In [33]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans14

['The United States Navy sent a ...',
 'Internet and news services con...',
 'House Republicans vote to keep...',
 'Senate approves a power-sharin...',
 'House Democrats will take the ...',
 'The Justice Department drops a...',
 "This year's Golden Globes nomi...",
 "Myanmar's ousted civilian lead...",
 'President Biden paid his respe...',
 'The House of Representatives h...',
 'Amazon CEO Jeff Bezos is stepp...',
 'Face masks are now required in...',
 'The Senate confirms Alejandro ...',
 'Legendary Emmy and Tony Award-...',
 'FBI Director Christopher Wray ...']

In [34]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
len(ans14[0]) == 33     # Expected output: True

True

<hr>

15\. (0.4 pts) Write a function `get_first_3_tokens` that takes a string `s` as an argument, splits the string with space into a list of tokens, and then returns a list with the first three items in the list.

In [35]:
# Your answer here
def get_first_3_tokens(s):
    return s.split()[:3]

In [36]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
get_first_3_tokens("This year's Golden Globes nominees are a mix of old and new.")

# Expected output: ['This', "year's", 'Golden']

['This', "year's", 'Golden']

16\. (0.4 pts) Write a function `highlight` that takes two strings `s` and `subs` as arguments and returns a copy of `s` with its substring `subs` replaced with its uppercase and surrounded by \* (asterisk) (see the example in the function test below). If `s` does not contain `subs`, it must return '*No substring!*'.

In [37]:
# Your answer here
def highlight(s, subs):
    if subs not in s:
        return "No substring!"
    
    return s.replace(subs, "*" + subs.upper() + "*")

In [38]:
# Test the function here
highlight("I'm learning Python data analytics.", "Python")       # Expected output: "I'm learning *PYTHON* data analytics."

"I'm learning *PYTHON* data analytics."

In [39]:
# Test the function here
highlight("I'm learning Python data analytics.", "SAS")          # Expected output: 'No substring!'.

'No substring!'

### Now that you have completed all the questions, click Kernel > Restart & Run All to creat a clean version of this notebook and check if all cells have run as expected.

## Quick Survey

How long did it take you to complete this homework? (This will not affect your score. Your answer will be very helpful for the instructor to design homewoks and exams. Thank you!)

: X minutes