# Text Analytics | BAIS:6100
# Module 1: Python Basics for Text Processing, Part 1 - Exercises

Instructor: Kang-Pyo Lee

## Exercises - Strings

In [ ]:
s = "I'm learning the Python programming language."

1\. Get the type of `s`.

In [ ]:
# Your answer here
type(s)

2\. Get the first character in `s`.

In [ ]:
# Your answer here

3\. Get the last character in `s`.

In [ ]:
# Your answer here

4\. Get the first 3 characters in `s`.

In [ ]:
# Your answer here

5\. Get the last 9 characters in `s`.

In [ ]:
# Your answer here

6\. Get only the <i>Python</i> part in `s`. (Hint: use a range filter.)

In [ ]:
# Your answer here

7\. Get the reversed version of `s`.

In [ ]:
# Your answer here

8\. Get the reversed version of the substring <i>Python</i> in `s`.

In [ ]:
# Your answer here

9\. Check if the substring <i>Python</i> is in `s`.

In [ ]:
# Your answer here (using the in operator). The expected output is True.

In [ ]:
# Your answer here (using the find method). The expected output is 17.

In [ ]:
# Your answer here (using the index method). The expected output is 17.

10\. Get the lower-case version of `s`.

In [ ]:
# Your answer here

11\. Count the number of <i>in</i>'s in `s`.

In [ ]:
# Your answer here

12\. Remove all whitespaces in `s`. (Hint: use the <b>replace</b> method.)

In [ ]:
# Your answer here

13\. Using dot notation, remove the trailing period in `s` and then split it into a list of words, or tokens.

In [ ]:
# Your answer here

14\. Join all names in the list `names` using a comma as separator.

In [ ]:
names = ["Alice", "Bob", "Tom"]

In [ ]:
# Your answer here

15\. Print the sentence "<i>I've been learning Text Analytics for 2 weeks.</i>" by embedding the values of `subject` and `weeks` below using the <b>format</b> method of strings.

In [ ]:
subject = "Text Analytics"
weeks = 2

In [ ]:
# Your answer here

## Exercises - Lists

1\. Create an empty list named `animals`.

In [ ]:
# Your answer here
animals = []     # Or animals = list()

2\. Append a new element '*dog*' to `animals`.

In [ ]:
# Your answer here

3\. Append new elements '*cat*', '*bird*', '*tiger*', '*lion*', and '*fox*' to `animals`.

In [ ]:
# Your answer here

4\. Check if '*elephant*' is in `animals`. The output must be either True or False.

In [ ]:
# Your answer here

5\. Get the number of elements in `animals`.

In [ ]:
# Your answer here

6\. Get the first 3 items in `animals`.

In [ ]:
# Your answer here

7\. Get a new reversed list of `animals`.

In [ ]:
# Your answer here

8\. Get a new sorted list of `animals` in descending alphabetical order.

In [ ]:
# Your answer here

## Exercises - Dictionaries

1\. Go to this web page http://www.jamesrobertwatson.com/months.html and find the table in the middle of the web page describing the origins of month names in English. Manually create a dictionary named `months` with its keys being the twelve month names and the values being their *Comes from*.

In [ ]:
# Your answer here

2\. Get the origin of <i>July</i> using `months`.

In [ ]:
# Your answer here

3\. Check if <i>Monday</i> is in `months`. The output must be either True or False.

In [ ]:
# Your answer here

4\. Get the number of key-value mappings in `months`.

In [ ]:
# Your answer here

5\. Manually create another dictionary named `months_detail` with the same keys as `months` but the values being lists, each of which contains *Comes from* and *Who or what?* in order. For example, the value for the key *January* is a list that looks as follows:

["Janus", "God of Doors"]

In [ ]:
# Your answer here

6\. Get the Who or what of *August* using `months_detail`.

In [ ]:
# Your answer here

## Exercises - Branches

In [ ]:
s = "I'm learning text analytics."

1\. Write an <b>if</b> statement that prints '*It is a string!*' if the type of `s` is string. (Hint: use the <b>type</b> function to check if a variable is string).

In [ ]:
# Your answer here

2\. Write <b>if-else</b> statements that print '*It is not a string!*' if the type of `s` is not string. If `s` is a string and its length is larger than 10, print '*It has more than 10 characters.*'. Otherwise, print '*It has fewer than or equal to 10 characters.*'.

In [ ]:
# Your answer here

3\. Write <b>if-else</b> statements that print '*Even length!*' if the length of `s` is an even number and '*Odd length!*' if it is an odd number. In order to check if a number is either even or odd, divide it by 2 and if the remainder is 0, you can say it is even, otherwise, it is odd. Use the % operator to get the remainder of a division. For exampl, the following statement returns 2 as the remainder of 5 divided by 3 is 2.

In [ ]:
5 % 3

In [ ]:
# Your answer here

## Exercises - For Loops

In [ ]:
s = "abcdefghijklmnopqrstuvwxyz"

1\. Write a <b>for</b> loop that prints all letters in `s`, separated by a tab.

In [ ]:
# Your answer here

2\. Write a <b>for</b> loop that prints the same as above, but this time using the index of `s`.

In [ ]:
# Your answer here

3\. Write a <b>for</b> loop that prints all names in `names` in uppercase, separated by a new line.

In [ ]:
names = ["Alice", "Bob", "Mary", "Sam", "Sarah", "Tom"]

In [ ]:
# Your answer here

4\. Write a <b>for</b> loop that only prints the names in `names` with the length of 3, separated by a new line.

In [ ]:
# Your answer here

5\. Write a <b>for</b> loop that only prints the names in `names` that end with either *m* or *y*, separated by a new line.

In [ ]:
# Your answer here

6\. Using list comprehension, create a new list `names2` of the names in `names` in lower case.

In [ ]:
names = ["Alice", "Bob", "Tom"]

In [ ]:
# Your answer here

7\. Using list comprehension, create a new list `names3` of tuples, each of which contains each name in `names` and the length of the name. For example, the first element in `names3` is ('Alice', 5).

In [ ]:
# Your answer here

## Exercises - User-Defined Functions

1\. Write a function `concatenate` that takes two strings `s1` and `s2` as arguments and returns the concatenation of the two strings with a space between them.

In [ ]:
# Your answer here

In [ ]:
# Test the function here
concatenate("Learning", "Python")                               # Expected output: 'Learning Python'

2\. Write a function `concatenate_all` that takes a list `l` of strings as an argument and returns the concatenation of all strings in `l` with a space between the strings.

In [ ]:
# Your answer here

In [ ]:
# Test the function here
concatenate_all(["Python", "R", "SAS", "SPSS", "Matlab", "Stata"]) # Expected output: 'Python R SAS SPSS Matlab Stata'

3\. Write a function `get_head_tail` that takes a list `l` of strings as an argument and returns the first and last elements in `l`. If `l` has fewer than 2 elements, it returns '*The input list is too short!*'.

In [ ]:
# Your answer here

In [ ]:
# Test the function here
get_head_tail(["Python", "R", "SAS", "SPSS", "Matlab", "Stata"]) # Expected output: ('Python', 'Stata').

In [ ]:
# Test the function here
get_head_tail(["Python"])                                        # Expected output: 'The input list is too short!'.

4\. Write a function `highlight` that takes two strings `s` and `subs` as arguments and returns a new copy of `s` with its substring `subs` replaced with its uppercase (see the example in the function test below). If `s` does not contain `subs`, it returns '*No substring!*'. (Hint: use the <b>replace</b> method to replace the substring with its uppercase.)

In [ ]:
# Your answer here

In [ ]:
# Test the function here
highlight("I'm learning Python data analytics.", "Python")       # Expected output: "I'm learning PYTHON data analytics."

In [ ]:
# Test the function here
highlight("I'm learning Python data analytics.", "SAS")          # Expected output: 'No substring!'.