# Text Analytics | BAIS:6100
# Test 1

Your name: Jerry Jacob

### 1. (1 pt)

In [1]:
# Your answer here
import pandas as pd
df = pd.read_csv("classdata/tweets/tweets_test1.csv", sep="\t")

In [2]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
pd.set_option('display.max_colwidth', 150)
df

,created_at,user_screen_name,user_name,user_location,user_description,text
0,Tue Jan 08 03:35:00 +0000 2019,BensPapa,üåπ Juan (he/him) üåπ,"Portland, OR","(He/Him) Juan the Food Science Guy, Continuous Improvement Nerd, #DemSocialist @PortlandDSA, #LaborBranch. And Sports: #SFGiants, #RipCity, #RCTID...","On the climate front, looking at low income ‚Äúrebate‚Äù for higher fuel costs. Seems like a cop out to me. Means testi‚Ä¶ https://t.co/2quYAPdOYs"
1,Sat Jun 29 08:39:40 +0000 2019,FlamingoclubFc,Peter Pestka,"Mount Everest 8,848 meters",A team with health organization missionary work for you and your team,Folks it has been a successful climate change awareness and introduction of the Flamingo journey in Paris. Merci f‚Ä¶ https://t.co/59RyJmcTTZ
2,Tue Dec 10 14:00:31 +0000 2019,EINFinanceNews,EIN Finance News,"Washington, D.C.",Latest finance industry news for global professionals & analysts. Finance Industry Today is a media monitoring service provided by EIN News.,The EU‚Äôs New Climate Weapon Is in Financial Fine Print https://t.co/EtxR4MyUg8
3,Tue Dec 17 18:43:27 +0000 2019,MikeGrunwald,Michael Grunwald,"Miami Beach, FL","Senior writer, @POLITICOMag. Editor-at-large, The Agenda. Author of The New New Deal: The Hidden Story of Change in the Obama Era.",Bernie or Warren or Kamala could hold up the budget to fight for solar and EVs. But most Democrats are just rhetorical climate warriors.
4,Sun Jul 07 07:13:13 +0000 2019,videocrime,neon Jason Evangelion,"St. Louis, MO","1/4 of Shark Dad (@wearesharkdad), CEO of Laser Goose Records, podcast host (@48minutesofdogs) gamer, dad, DIYer, big time idiot, Dr. Yinz Fanclu...","@teenmethuselah In the coming climate wars, someone has to man the still while the menfolk battle over the potable water"
...,...,...,...,...,...,...
9995,Thu Sep 19 01:56:09 +0000 2019,shopperann68,Nett,"Arizona, USA","On the best adventure ever-Life. There is nothing more tragic than to sleep through a revolution-MLK Jr, 5/18/1966 https://t.co/KGY7Ao6kiW #resist...","Saying Geoengineering technology is ""cheap"" is DECEPTION. The scale of destruction climate engineering has inflicte‚Ä¶ https://t.co/3NvF7AmpoE"
9996,Fri Aug 02 22:14:46 +0000 2019,trevcosi23,Trevor Cancilla,"Sacramento, CA","I'm @busterposey's good friend. Proud fan of #sfgiants, #sackings, and #49ers. TV is my drug. DVR is my dealer. I like to laugh. Entertain me! #Sa...",@HeuristicLineup Well those are still more seasons than SF has. Climate change just makes two of the 4 here in Sac‚Ä¶ https://t.co/G56us2URzD
9997,Fri Oct 11 22:53:52 +0000 2019,EpiphanyEstates,Epiphany Estates,United Kingdom,"epiphany estates are advisers and purchasers of bereaved estates from single items to large estates. Valuers, of fine art, decorative arts, Jewels.",The climate change extinction Psychos!! And the remoaners - join forces to join the ‚Äú I‚Äôm a twat club‚Äù
9998,Mon May 20 11:34:20 +0000 2019,MNW_81,Martha N. Wilhelm,Sudan,Transition / Peace building / Development Coordination Specialist| Leadership/ People Management Scwcholar| Views are my own & Rts aren't endorsem...,@dshekuza ur search for a seat @ a table on youth issues esp on climate change @ environment is admirable. U‚Äôve bee‚Ä¶ https://t.co/kPsS2zHcqg
9999,Mon Aug 26 14:42:08 +0000 2019,piyushmittal,Piyush Mittal,"California, USA",Live and let live. Trying to reduce my carbon footprint. Not a Trump fan.,Trump fiddles as climate change ravages the world https://t.co/NDWb1lTMsb

### 2. (2 pts)

In [3]:
# Your answer here
ans2_1=df.shape[0]
ans2_2=df.shape[1]

In [4]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans2_1, ans2_2

(10000, 6)

### 3. (2 pts)

In [5]:
# Your answer here
ans3 = df["text"][:10]

In [6]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans3

0    On the climate front, looking at low income ‚Äúrebate‚Äù for higher fuel costs. Seems like a cop out to me. Means testi‚Ä¶ https://t.co/2quYAPdOYs
1    Folks it has been a successful climate change awareness and introduction of the Flamingo  journey in Paris. Merci f‚Ä¶ https://t.co/59RyJmcTTZ
2                                                                  The EU‚Äôs New Climate Weapon Is in Financial Fine Print https://t.co/EtxR4MyUg8
3        Bernie or Warren or Kamala could hold up the budget to fight for solar and EVs. But most Democrats are just rhetorical climate warriors.
4                        @teenmethuselah In the coming climate wars, someone has to man the still while the menfolk battle over the potable water
5    @FreckledLiberty you wish. go join the flat-eathers, the anti-vaxxers, the climate change deniers and the rest of t‚Ä¶ https://t.co/OiUuMPvyWt
6                                                       Theresa May criticises children protesting against climate change https://t.co/kGUgtwU0ag
7                                             Transcript: Greta Thunberg's Speech At The U.N. Climate Action Summit - NPR https://t.co/Vrni1bqWLZ
8    @Fahrenthold A little more than a year ago MAGAs on Twitter were still telling me that climate scientists were exag‚Ä¶ https://t.co/mbwoTS3hrG
9    moon jaein has done nothing but kiss up to china and NK when it‚Äôs been clear that the political climate has shown t‚Ä¶ https://t.co/oGfZElqZUz
Name: text, dtype: object

### 4. (2 pts)

In [7]:
# Your answer here
ans4 = df.iloc[-10:,:3]

In [8]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans4

,created_at,user_screen_name,user_name
9990,Fri Dec 27 21:17:18 +0000 2019,901CBD,901 CBD LLC. Tony Falasca Owner.
9991,Thu Apr 04 07:00:06 +0000 2019,klima_netz,Klimaschutz-Netz
9992,Thu Mar 14 04:52:04 +0000 2019,Tykee_James,TykeeJames
9993,Wed Dec 04 17:39:12 +0000 2019,JwintersA,Jeffrey Winters at ASME
9994,Thu Sep 26 15:42:19 +0000 2019,DsOchoa,üåäDSOchoa üá∫üá∏
9995,Thu Sep 19 01:56:09 +0000 2019,shopperann68,Nett
9996,Fri Aug 02 22:14:46 +0000 2019,trevcosi23,Trevor Cancilla
9997,Fri Oct 11 22:53:52 +0000 2019,EpiphanyEstates,Epiphany Estates
9998,Mon May 20 11:34:20 +0000 2019,MNW_81,Martha N. Wilhelm
9999,Mon Aug 26 14:42:08 +0000 2019,piyushmittal,Piyush Mittal

### 5. (2 pts)

In [9]:
# Your answer here
ans5 = len(df[df.user_location=="Los Angeles, CA"])

In [10]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans5

54

### 6. (2 pts)

In [11]:
# Your answer here
ans6 = df.sample(n=1000, replace=False)[["created_at", "text"]]

In [12]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans6

,created_at,text
4450,Thu Oct 24 16:54:27 +0000 2019,New York State is leading on climate policy and legislation with the ‚ÄúClimate Leadership and Community Protection A‚Ä¶ https://t.co/TI7DVnYGhs
8066,Sat Feb 09 12:48:57 +0000 2019,The truth about big oil and climate change - Big oil and the environment https://t.co/gwThY3ny1U
2379,Thu Sep 05 18:24:57 +0000 2019,WHAT'S THIS?YOU MEAN TO TELL ME THE SOLUTION TO CLIMATE CHANGE ISN'T MEAT????
8667,Mon Nov 25 20:20:47 +0000 2019,The Amazon: on the frontline of a global battle to tackle the climate crisis !!!https://t.co/hdrxT7NV6r
4525,Sat Jun 22 16:09:40 +0000 2019,@guardiannews There is No climate crisis. The occurrence of drought has been steadily decreasing over the last 50 y‚Ä¶ https://t.co/oI6lB6TFPI
...,...,...
8559,Tue Oct 22 08:10:39 +0000 2019,"@hilarityjane @marianlquinn This is horrifying. This is what climate fear mongering accomplishes. The ""best"" is yet to come I'm afraid."
4794,Sun Oct 27 18:19:43 +0000 2019,"@NofSeven @JasperBrown4 Thank you. The only thing in Manning's favor is he accepts climate change is real, or says‚Ä¶ https://t.co/oGqoFzhJMv"
9855,Tue Sep 03 13:38:40 +0000 2019,How to get rid of climate change Step 1: Take your climate change to the climate bank and exchange it for climate billsStep 2: Profit
5983,Sat Oct 12 02:35:20 +0000 2019,I'm supporting frontline action to #StopAdani by sending a message to companies doing working on the climate and wa‚Ä¶ https://t.co/CbWKItahNs
360,Mon Oct 28 12:48:30 +0000 2019,@RockCharts28 @dmit0820 @thehill @AndrewYang Says the guy that denies what a majority of scientists and climate aut‚Ä¶ https://t.co/Aj1BHWTHvt

### 7. (3 pts)

In [13]:
# Your answer here
user_info=dict()
for index, series in df.iterrows():
    user_info[series.user_screen_name]=dict()
    user_info[series.user_screen_name]["name"]=series.user_name
    user_info[series.user_screen_name]["location"]=series.user_location
    user_info[series.user_screen_name]["description"]=series.user_description

In [14]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
user_info["BensPapa"]

{'name': 'üåπ Juan (he/him) üåπ',
 'location': 'Portland, OR',
 'description': '(He/Him) Juan the Food Science Guy, Continuous Improvement Nerd, #DemSocialist @PortlandDSA, #LaborBranch. And Sports: #SFGiants, #RipCity, #RCTID, #TdF'}

In [15]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
len(user_info)

10000

### 8. (3 pts)

In [16]:
# Your answer here
import re
def formatComment(dfcomm):
    user = dfcomm["user_screen_name"]
    day = "".join(re.findall("^\w{3} (\w{3} \d\d)", dfcomm["created_at"]))
    year = "".join(re.findall("^\w{3}.+(\d\d\d\d)$", dfcomm["created_at"]))
    return "Posted by {} on {}, {}".format(user, day, year)

df["comment"] = [formatComment(row) for index, row in df.iterrows()]

In [17]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
df[["user_screen_name", "created_at", "comment"]]

,user_screen_name,created_at,comment
0,BensPapa,Tue Jan 08 03:35:00 +0000 2019,"Posted by BensPapa on Jan 08, 2019"
1,FlamingoclubFc,Sat Jun 29 08:39:40 +0000 2019,"Posted by FlamingoclubFc on Jun 29, 2019"
2,EINFinanceNews,Tue Dec 10 14:00:31 +0000 2019,"Posted by EINFinanceNews on Dec 10, 2019"
3,MikeGrunwald,Tue Dec 17 18:43:27 +0000 2019,"Posted by MikeGrunwald on Dec 17, 2019"
4,videocrime,Sun Jul 07 07:13:13 +0000 2019,"Posted by videocrime on Jul 07, 2019"
...,...,...,...
9995,shopperann68,Thu Sep 19 01:56:09 +0000 2019,"Posted by shopperann68 on Sep 19, 2019"
9996,trevcosi23,Fri Aug 02 22:14:46 +0000 2019,"Posted by trevcosi23 on Aug 02, 2019"
9997,EpiphanyEstates,Fri Oct 11 22:53:52 +0000 2019,"Posted by EpiphanyEstates on Oct 11, 2019"
9998,MNW_81,Mon May 20 11:34:20 +0000 2019,"Posted by MNW_81 on May 20, 2019"
9999,piyushmittal,Mon Aug 26 14:42:08 +0000 2019,"Posted by piyushmittal on Aug 26, 2019"

### 9. (3 pts)

In [18]:
# Your answer here
import nltk
def processKeyWords(tupleList):
    keywords=list()
    for tuple in tupleList:
        word = tuple[0]
        tag = tuple[1]
        if tag.startswith("NN") | tag.startswith("JJ") | tag.startswith("VB") | tag.startswith("RB"):
            keywords.append(word)
    return keywords
    
df["words"] = df.text.apply(lambda x: nltk.word_tokenize(x))
df["tagged_words"] = df.words.apply(lambda x: nltk.pos_tag(x))
df["keywords"] = df.tagged_words.apply(lambda x: processKeyWords(x))

In [19]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
df[["text", "keywords"]]

,text,keywords
0,"On the climate front, looking at low income ‚Äúrebate‚Äù for higher fuel costs. Seems like a cop out to me. Means testi‚Ä¶ https://t.co/2quYAPdOYs","[climate, front, looking, low, income, ‚Äú, rebate, ‚Äù, higher, fuel, costs, Seems, cop, Means, testi‚Ä¶, https, //t.co/2quYAPdOYs]"
1,Folks it has been a successful climate change awareness and introduction of the Flamingo journey in Paris. Merci f‚Ä¶ https://t.co/59RyJmcTTZ,"[Folks, has, been, successful, climate, change, awareness, introduction, Flamingo, journey, Paris, Merci, f‚Ä¶, https, //t.co/59RyJmcTTZ]"
2,The EU‚Äôs New Climate Weapon Is in Financial Fine Print https://t.co/EtxR4MyUg8,"[EU, ‚Äô, s, New, Climate, Weapon, Is, Financial, Fine, Print, https, //t.co/EtxR4MyUg8]"
3,Bernie or Warren or Kamala could hold up the budget to fight for solar and EVs. But most Democrats are just rhetorical climate warriors.,"[Bernie, Warren, Kamala, hold, budget, fight, solar, EVs, most, Democrats, are, just, rhetorical, climate, warriors]"
4,"@teenmethuselah In the coming climate wars, someone has to man the still while the menfolk battle over the potable water","[@, teenmethuselah, coming, climate, wars, someone, has, man, still, menfolk, battle, potable, water]"
...,...,...
9995,"Saying Geoengineering technology is ""cheap"" is DECEPTION. The scale of destruction climate engineering has inflicte‚Ä¶ https://t.co/3NvF7AmpoE","[Saying, Geoengineering, technology, is, cheap, is, DECEPTION, scale, destruction, climate, engineering, has, inflicte‚Ä¶, https, //t.co/3NvF7AmpoE]"
9996,@HeuristicLineup Well those are still more seasons than SF has. Climate change just makes two of the 4 here in Sac‚Ä¶ https://t.co/G56us2URzD,"[@, HeuristicLineup, Well, are, still, more, seasons, SF, has, Climate, change, just, makes, here, Sac‚Ä¶, https, //t.co/G56us2URzD]"
9997,The climate change extinction Psychos!! And the remoaners - join forces to join the ‚Äú I‚Äôm a twat club‚Äù,"[climate, change, extinction, Psychos, remoaners, join, forces, join, ‚Äú, ‚Äô, m, twat, club, ‚Äù]"
9998,@dshekuza ur search for a seat @ a table on youth issues esp on climate change @ environment is admirable. U‚Äôve bee‚Ä¶ https://t.co/kPsS2zHcqg,"[@, dshekuza, ur, search, seat, @, table, youth, issues, esp, climate, change, @, environment, is, admirable, U, ‚Äô, ve, bee‚Ä¶, https, //t.co/kPsS2z..."
9999,Trump fiddles as climate change ravages the world https://t.co/NDWb1lTMsb,"[Trump, fiddles, climate, change, ravages, world, https, //t.co/NDWb1lTMsb]"

### 10. (2 pts)

In [20]:
# Your answer here
from collections import Counter
df["mentions"] = df.text.apply(lambda x: re.findall("@\w+",x))

counter = Counter()
counteritems = list()
for idx, items in df.mentions.iteritems():
    counteritems.extend([item.lower() for item in items])
counter.update(counteritems)
counter.most_common(50)

[('@aoc', 153),
 ('@realdonaldtrump', 139),
 ('@gretathunberg', 136),
 ('@berniesanders', 53),
 ('@youtube', 47),
 ('@cnn', 35),
 ('@jayinslee', 28),
 ('@borisjohnson', 26),
 ('@thehill', 25),
 ('@gop', 23),
 ('@ewarren', 23),
 ('@justintrudeau', 20),
 ('@cathmckenna', 19),
 ('@breitbartnews', 19),
 ('@kamalaharris', 18),
 ('@ilhanmn', 18),
 ('@speakerpelosi', 18),
 ('@channel4news', 15),
 ('@scottmorrisonmp', 15),
 ('@johncornyn', 15),
 ('@sensanders', 15),
 ('@andrewyang', 14),
 ('@nytimes', 14),
 ('@potus', 14),
 ('@ukchange', 14),
 ('@maximebernier', 14),
 ('@extinctionr', 13),
 ('@andrewscheer', 13),
 ('@juliahb1', 12),
 ('@skynews', 11),
 ('@nbcnews', 11),
 ('@bbcnews', 11),
 ('@un', 11),
 ('@senschumer', 11),
 ('@washingtonpost', 10),
 ('@jeremycorbyn', 10),
 ('@gavinnewsom', 10),
 ('@abcnews', 10),
 ('@petebuttigieg', 10),
 ('@senfeinstein', 10),
 ('@vapaavuori', 10),
 ('@marvinjrees', 10),
 ('@brunocovas', 10),
 ('@mayordanplato', 10),
 ('@abc', 10),
 ('@lbc', 9),
 ('@thenation', 9),
 ('@repadamschiff', 9),
 ('@elonmusk', 9),
 ('@joebiden', 9)]

### 11. (3 pts)

In [21]:
# Your answer here
import random
import string
with open("outcome/test1_output.csv", mode="w") as fw:
    fw.write("sid/sequence\n")
    for i in range(3000):
        sid = "s"+"".join([random.choice(string.digits) for i in range(5)])
        seq = "".join([random.choice("ACTG") for i in range(30)])
        fw.write("{}/{}\n".format(sid,seq))

In [22]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
import os
os.path.isfile("outcome/test1_output.csv")     # Expected output: True

True

## * Make sure to Restart & Run All to create a clean version of this notebook!