# Data Programming in Python | BAIS:6040
# Python Basics

Instructor: Jeff Hendricks 

Topics to be covered:
- Numbers
- Strings (+ exercises)
- Lists (+ exercises)
- Tuples (+ exercises)
- Dictionaries (+ exercises)
- Sets (+ exercises)
- Built-in Functions (+ exercises)
- Operators
- del

References: 
- Data Wrangling with Python by Katharine Jarmul, Jacqueline Kazil (http://shop.oreilly.com/product/0636920032861.do)
- Python Programming by en.wikibooks.org (https://en.wikibooks.org/wiki/Python_Programming)
- Python Standard Library by Python Software Foundation (https://docs.python.org/3/library/)
- Python Tutorial by Python Software Foundation (https://docs.python.org/3/tutorial/)
- Python Tutorial by w3schools.com (https://www.w3schools.com/python/default.asp)

## ▪ Numbers

- Integers
- Floating point numbers
- Complex numbers

x is called a variable.

In [1]:
x = 5
print(x, type(x))

5 <class 'int'>

You do not have to specify what type of variable you want. The data types are dynamically inferred.

In [ ]:
x = 3.141592
print(x, type(x))

In [ ]:
x = 5 + 2j
print(x, type(x))

In [ ]:
y=4+3j
x+y

In [ ]:
y.real

In [ ]:
x.imag

In [ ]:
x.conjugate()

## ▪ Strings

String literals can be enclosed in matching single quotes (') or double quotes ("); either is fine.

In [1]:
s = "How are you?"
print(s, type(s))

How are you? <class 'str'>

In [18]:
s = "She said, "How are you?""
print(s)

SyntaxError: invalid syntax (<ipython-input-18-6ae9475ee435>, line 1)

If you need double quotes in a string already enclosed in double quotes, you can put a backslash escape character (\\) before each double quote inside the string.

In [19]:
s = "She said, \"How are you?\""
print(s)

She said, "How are you?"

If the string contains double quotes, you can use single quotes around the string without using a backslash, and vice versa.

In [20]:
s = 'She said, "How are you?"'
print(s)

She said, "How are you?"

In [ ]:
s = "I'm a boy."
print(s)

Integer 1 and string "1" look the same when printed.

In [ ]:
s = "1"
print(s, type(s))

In [ ]:
print(1, "1")

In [ ]:
print(type(1), type("1"))

The <b>len()</b> function is a built-in function of Python, which is widely used for getting the length of a list of any type.

In [21]:
s = "How are you?"
len(s)

12

### String Additions and Multiplications

In [ ]:
s1 = "hello"
s2 = "world"
s1 + s2

The easiest way to combine two strings is to use the + operator.

In [2]:
s1 * 3

NameError: name 's1' is not defined

In [ ]:
s1 * s2

### Containment

In [3]:
s1 = "hello"
s2 = "hell"
s2 in s1

True

In [4]:
s1 in s2

False

The <b>in</b> operator returns True if the first operand is contained in the second.

### Indexing and Slicing

Python string is, in fact, a sequence, meaning that it could be indexed and sliced.

In [22]:
s = "Data_Science_Institute!"
s

'Data_Science_Institute!'

In [23]:
index = 0
for character in s:
    print(index, "\t", character)
    index += 1

0 	 D
1 	 a
2 	 t
3 	 a
4 	 _
5 	 S
6 	 c
7 	 i
8 	 e
9 	 n
10 	 c
11 	 e
12 	 _
13 	 I
14 	 n
15 	 s
16 	 t
17 	 i
18 	 t
19 	 u
20 	 t
21 	 e
22 	 !

A Python index starts from 0, increments by 1, and ends at the length -1.

In [24]:
s[0]

'D'

You can access a character in a string by referring to the index number, inside square brackets.

In [25]:
s[22]

'!'

In [26]:
s[23]

IndexError: string index out of range

In [5]:
s[0:4]

NameError: name 's' is not defined

You can use a colon to apply a range filter. Note that s[i:j] will return a string starting with s[i] and ending with s[j-1], not s[j]

In [6]:
s[:4]

NameError: name 's' is not defined

You can skip the starting index 0, if it starts from 0. s[:n] is the easiest way to get the first n characters in a string.

In [29]:
s[4:23]

'_Science_Institute!'

In [30]:
s[4:]

'_Science_Institute!'

You can skip the ending index, if it ends to the end.

In [31]:
s[:]

'Data_Science_Institute!'

You can skip both the starting and ending indices if it starts from 0 and ends to the end.

In [35]:
s[-1]

'!'

Python also indexes the arrays backwards, using negative numbers.

In [36]:
index = 0
for character in s:
    print(index, "\t", index-len(s), "\t", character)
    index += 1

0 	 -23 	 D
1 	 -22 	 a
2 	 -21 	 t
3 	 -20 	 a
4 	 -19 	 _
5 	 -18 	 S
6 	 -17 	 c
7 	 -16 	 i
8 	 -15 	 e
9 	 -14 	 n
10 	 -13 	 c
11 	 -12 	 e
12 	 -11 	 _
13 	 -10 	 I
14 	 -9 	 n
15 	 -8 	 s
16 	 -7 	 t
17 	 -6 	 i
18 	 -5 	 t
19 	 -4 	 u
20 	 -3 	 t
21 	 -2 	 e
22 	 -1 	 !

In [37]:
s[-10:-1]

'Institute'

In [38]:
s[-10:]

'Institute!'

s[-n:] is the easiest way to get the last n characters in a string.

In [39]:
s

'Data_Science_Institute!'

Note that the original string <i>s</i> has not changed at all. Indexing and slicing of strings returns a new copy of string, not changing the original string.

In [7]:
s = s[:4]
s

NameError: name 's' is not defined

If you want to change the orignial string, make sure to re-assign the new copy to the original variable.

### String Methods

In [ ]:
s = "DaTa ScIeNcE InStItUtE!"
s

In [ ]:
s.upper()

The <b>upper()</b> method returns a string where all characters are in upper case. Symbols and numbers are ignored.

In [ ]:
s.lower()

The <b>lower()</b> method returns a string where all characters are lower case. Symbols and numbers are ignored.

In [ ]:
s.count("S")

The <b>count()</b> method returns the number of times a specified value appears in the string.

All strings and string methods in Python are case-sensitive.

In [ ]:
s = "\tData Science Institute!\nWelcome!"     # \t: tab, \n: new line
print(s)

In [ ]:
s = "\tData Science Institute    \n"
print(s.strip())

The <b>strip()</b> method removes any leading (spaces at the beginning) and trailing (spaces at the end) characters. Space is the default character to be removed.

In [ ]:
print(s.lstrip())

The <b>lstrip()</b> method removes any leading characters.

In [ ]:
print(s.rstrip())

The <b>rstrip()</b> method removes any trailing characters.

In [ ]:
s = "Data Science Institute;"
print(s.rstrip(";"))

You can specify the character to be removed.

In [43]:
s = "Data Science Institute"
s.startswith("Data")

True

The <b>startswith()</b> method returns True if the string starts with the specified value, otherwise False.

In [46]:
s.endswith("e")

False

The <b>endswith()</b> method returns True if the string ends with the specified value, otherwise False.

In [47]:
l = ["a", "b", "c"]
"+".join(l)

'a+b+c'

The <b>join()</b> method takes all items in an iterable and joins them into one string. A string must be specified as the separator.

In [ ]:
s = "Data Science Institute"
s.find("Science")

The <b>find()</b> method finds the index of the first occurrence of the specified value.

In [ ]:
s = "Data Science Institute"
s.find("z")

It returns -1 if the value is not found.

In [ ]:
s = "Data Science Institute"
s.index("Science")

The <b>index()</b> method is almost the same as the <b>find()</b> method, the only difference is that the <b>find()</b> method returns -1 if the value is not found.

In [ ]:
s = "Data Science Institute"
s.index("z")

In [ ]:
s = "Data Science Institute"
s.replace(" ", "_")

In [ ]:
s

The <b>replace()</b> method replaces a specified value with another specified value.

In [ ]:
s = "Data Science Institute"
s.split()

The <b>split()</b> method splits a string into a list. You can specify the separator, or default separator is any whitespace.

In [ ]:
s = "Data_Science_Institute"
s.split("_")

In [8]:
name = "Alice"
age = 30
s = "Name: {}, Age: {}".format(name, age)
s

'Name: Alice, Age: 30'

The <b>format()</b> method formats specified values in a string.

Note that string methods return a new copy of string, not changing the original string.

### Dot Notation

In [48]:
s = "Data Science Institute"

Suppose you want to perform a series of string methods, e.g., convert <i>s</i> to lowercase and then split it into a list of words.

In [49]:
s1 = s.lower()
print(s)
s1

Data Science Institute

'data science institute'

In [50]:
s1.split()

['data', 'science', 'institute']

In [51]:
s.lower().split()

['data', 'science', 'institute']

Dot notation is useful for taking the outcome of the previous method. That way, you do not have to store the intermediate outcome from the previous operation to do another operation.

## Exercises - Strings

In [1]:
s = "I'm learning Python data analytics."
s

"I'm learning Python data analytics."

Get the first character in <i>s</i>.

index = 0
for charater in s:
print(index, "\t", character)
index += 1

Get the last character in <i>s</i>.

In [2]:
# Your answer here
s[-1]

'.'

Get the first 3 characters in <i>s</i>.

In [3]:
# Your answer here
s[:3]

"I'm"

Get the last 10 characters in <i>s</i>.

In [6]:
# Your answer here
s[-10:]

'analytics.'

Check if the substring <i>Python</i> is in <i>s</i>.

In [7]:
# Your answer here (using the in operator)
'Python' in s

True

In [10]:
# Your answer here (using the find method)
s.find('Python')>-1

True

In [11]:
# Your answer here (using the index method)
s.index('Python')>0

True

Get only the <i>Python</i> part in <i>s</i>. (Use a range filter.)

In [ ]:
# Your answer here

Get the lower-case version of <i>s</i>.

In [ ]:
# Your answer here

Count the number of <i>yt</i>s in <i>s</i>.

In [ ]:
# Your answer here

Remove all whitespaces in <i>s</i>. (Use <b>replace</b>.)

In [ ]:
# Your answer here

Remove the trailing period in <i>s</i> and then split it into a list of words, or tokens. (Use dot notation.)

In [ ]:
# Your answer here

Join all names in the list <i>names</i> using a comma as separator.

In [ ]:
names = ["Alice", "Bob", "Tom"]

In [ ]:
# Your answer here

## Python Collections

There are four collection data types in Python:

- List is a collection which is ordered and changeable (i.e., mutable). Allows duplicate members.
- Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
- Dictionary is a collection which is unordered, changeable and indexed. No duplicate members.
- Set is a collection which is unordered and unindexed. No duplicate members.

It is important to choose the right type that fits your needs.

## ▪ Lists

A list is a collection which is ordered and changeable. Lists are written with square brackets.

In [12]:
l = []
print(l, type(l))

[] <class 'list'>

In [13]:
l = list()
print(l, type(l))

[] <class 'list'>

In [14]:
l = [1, 2, 3]
l

[1, 2, 3]

In [15]:
l = ["a", "b", "c"]
l

['a', 'b', 'c']

In [16]:
l = [1, 2, 3, "a", "b", "c"]
l

[1, 2, 3, 'a', 'b', 'c']

List elements do not have to be of the same type.

In [17]:
len(l)

6

The length of a list is the number of items in the list.

In [18]:
l[:3]

[1, 2, 3]

Indexing and slicing of lists are exactly the same as that of strings.

In [19]:
3 in l

True

In [20]:
"z" in l

False

### List Methods

In [21]:
l1 = [1, 2, 3]
l2 = ["a", "b", "c"]
l1 + l2

[1, 2, 3, 'a', 'b', 'c']

The easiest way to combine two lists is to use the + operator, just as combining two strings.

In [22]:
l1.extend(l2)
l1

[1, 2, 3, 'a', 'b', 'c']

The <b>extend()</b> method adds the specified list elements (or any iterable) to the end of the current list.

Note that l1 + l2 returns a new copy of list, while l1.extend(l2) actually extends l1 by adding l2.

In [23]:
l = [1, 2, 3]
l.append(4)
l

[1, 2, 3, 4]

The <b>append()</b> method appends an element to the end of the list.

In [24]:
l.append([5, 6])
l

[1, 2, 3, 4, [5, 6]]

The list [5,6] has been added as an element of l, not part of the list. The <b>append</b> method always adds one element only to the end of a list.

In [26]:
fruits = ['apple', 'banana', 'cherry']
fruits.insert(2, "orange")
fruits

['apple', 'banana', 'orange', 'cherry']

The <b>insert(pos, element)</b> method inserts the specified value at the specified position.

In [27]:
l = [1, 2, 3, 4, 5]
l.pop()
l

[1, 2, 3, 4]

The <b>pop(pos)</b> method removes the element at the specified position. The default value of <b>pos</b> is -1, which removes the last item.

In [28]:
l.pop(0)
l

[2, 3, 4]

pop(0) will remove the first item.

In [29]:
l.remove(3)
l

[2, 4]

The <b>remove()</b> method removes the first occurrence of the element with the specified value.

In [30]:
l.clear()
l

[]

The <b>clear()</b> method removes all the elements from a list.

In [31]:
l = []

l.clear() is equivalent to l = [].

In [32]:
l = [1, 6, 3, 4, 2, 5]
l.sort()
l

[1, 2, 3, 4, 5, 6]

The <b>sort()</b> method sorts the list in ascending order by default.

In [33]:
l = [1, 6, 3, 4, 2, 5]
l.sort(reverse=True)
l

[6, 5, 4, 3, 2, 1]

Setting the <b>reverse</b> parameter to True will sort the list in descending order.

In [34]:
l = ["a", "c", "b", 3, 1, 2]
l.sort()
l

TypeError: '<' not supported between instances of 'int' and 'str'

You cannot sort a list with elements of different types.

In [35]:
l = [1, 6, 3, 4, 2, 5]
l1=sorted(l)
l1

[1, 2, 3, 4, 5, 6]

In [36]:
l

[1, 6, 3, 4, 2, 5]

Python also has a built-in function <b>sorted()</b>, which works the same as the <b>sort()</b> method except that it returns a new copy.

In [37]:
l

[1, 6, 3, 4, 2, 5]

In [38]:
sorted(l, reverse=True)

[6, 5, 4, 3, 2, 1]

In [39]:
l = [1, 6, 3, 4, 2, 5]
l.reverse()
l

[5, 2, 4, 3, 6, 1]

The <b>reverse()</b> method reverses the sorting order of the elements.

In [40]:
l = [1, 6, 3, 4, 2, 5]
reversed(l)

Python also has a built-in function <b>reversed()</b>, which works the same as the <b>reverse()</b> method except that it returns a new copy.

In [43]:
list(reversed(l))

[1, 2, 3, 4, 5, 4, 3, 2, 1]

In [44]:
l = [1, 2, 3, 4, 5, 4, 3, 2, 1]
l.count(1)

2

The <b>count()</b> method returns the number of elements with the specified value.

## Exercises - Lists

In [45]:
animals = ["dog", "cat", "bird", "tiger", "lion", "fox"]

Check if <i>elephant</i> is in <i>animals</i>. The output must be either True or False.

In [46]:
# Your answer here
"elephant" in animals

False

Append a new element <i>elephant</i> to <i>animals</i>. Be careful not to append the element multple times.

In [48]:
# Your answer here
animals.append("Elephant")
animals

['dog', 'cat', 'bird', 'tiger', 'lion', 'fox', 'Elephant', 'Elephant']

Get the number of elements in <i>animals</i>.

In [61]:
# Your answer here
len(animals)

8

Get the first 5 items in <i>animals</i>.

In [53]:
# Your answer here
animals[:5]

['dog', 'cat', 'bird', 'tiger', 'lion']

Get a new reversed list of <i>animals</i>.

In [56]:
# Your answer here
animals.reverse()
animals

['Elephant', 'Elephant', 'fox', 'lion', 'tiger', 'bird', 'cat', 'dog']

Get a new sorted list of <i>animals</i> in descending alphabetical order.

In [59]:
# Your answer here
animals.reverse()
animals

['tiger', 'lion', 'fox', 'dog', 'cat', 'bird', 'Elephant', 'Elephant']

## ▪ Tuples

A tuple is a collection which is ordered and unchangeable. Tuples are written with round brackets.

In [62]:
t = ()
print(t, type(t))

() <class 'tuple'>

In [63]:
t = tuple()
print(t, type(t))

() <class 'tuple'>

In [64]:
t = ("a", "b", "c")
print(t, type(t))

('a', 'b', 'c') <class 'tuple'>

In [65]:
t[0]

'a'

Indexing and slicing of tuples are the same as other collections.

In [66]:
t[0] = "A"

TypeError: 'tuple' object does not support item assignment

Once a tuple is created, you cannot change its values as tuples are unchangeable.

The major difference between tuples and lists is that a list is changeable, whereas a tuple is not. In general,  we use a list to store similar, or homogeneous, items, whereas we use a tuple to store heterogeneous items describing an entity.

In [67]:
employees = [("Alice", 30, "female"), ("Bob", 25, "male"), ("Tom", 34, "male")]

In [68]:
employees[0][1]

30

In this example, <i>employees</i> is a list of tuples.

## Exercises - Tuples

Manually create a list <i>family</i> of tuples, each of which contains the name of your family member and their age.

In [69]:
# Your answer here
family = [('Jerry', 28), ('Jacob', 70)]
family

[('Jerry', 28), ('Jacob', 70)]

Get the first tuple, or member, in <i>family</i>.

In [70]:
# Your answer here
family[0]

('Jerry', 28)

Get the name of the first member in <i>family</i>.

In [71]:
# Your answer here
family[0][0]

'Jerry'

Get the age of the last member in <i>family</i>.

In [73]:
# Your answer here
family[-1][1]

70

## ▪ Dictionaries

A dictionary is a collection which is unordered, changeable, and indexed. Dictionaries are written with curly brackets, and they have keys and values.

In [74]:
d = {}
print(d, type(d))

{} <class 'dict'>

In [75]:
d = dict()
print(d, type(d))

{} <class 'dict'>

In [76]:
buildings = {"UCC": "University Capitol Center"
             ,"CPHB": "College of Public Health Building"}
print(buildings, type(buildings))

{'UCC': 'University Capitol Center', 'CPHB': 'College of Public Health Building'} <class 'dict'>

<i>buildings</i> is a dictionary for UI building name abbreviations. If you look up an abbreviation, it returns its full name.

In [77]:
buildings["UCC"]

'University Capitol Center'

If you look up a key in a dictionary, it returns, if any, its value.

In [78]:
buildings["CPHB"]

'College of Public Health Building'

In [79]:
buildings["IMU"]

KeyError: 'IMU'

In [80]:
things = {"UCC": ("Alice", 30, "female")
             ,"CPHB": "College of Public Health Building"
             ,}
print(things, type(things))

{'UCC': ('Alice', 30, 'female'), 'CPHB': 'College of Public Health Building'} <class 'dict'>

In [82]:
things["UCC"][2]

'female'

In [83]:
things[0]

KeyError: 0

If there is not the key in the dictionary, it returns KeyError.

In [84]:
buildings.keys()

dict_keys(['UCC', 'CPHB'])

In [85]:
buildings.values()

dict_values(['University Capitol Center', 'College of Public Health Building'])

When designing a dictionary, think about what should be the key and what should be the value. It depends on the purpose of the dictionary.

In [86]:
buildings["IMU"] = "Iowa Memorial Union"
buildings

{'UCC': 'University Capitol Center',
 'CPHB': 'College of Public Health Building',
 'IMU': 'Iowa Memorial Union'}

In [87]:
"IMU" in buildings

True

You can check if a key is in a dictionary using the <b>in</b> operator.

In [88]:
"PBB" in buildings

False

In [89]:
del buildings["IMU"]

In [90]:
len(buildings)

2

The length of a dictionary is the number of key-value pairs in the dictionary.

## Exercises - Dictionaries

Manually create a dictionary named <i>ages</i> with the names of your family members being the keys and their ages being the values.

In [91]:
# Your answer here
ages = {"Jerry": 28, "Jacob": 60}

Check if <i>Spiderman</i> is in <i>ages</i>. The output must be either True or False.

In [92]:
# Your answer here
"Spiderman" in ages

False

Add a new name-age pair ("Spiderman", 20) to <i>ages</i>.

In [93]:
# Your answer here
ages["Spiderman"]=20

Get the age of <i>Spiderman</i> using <i>ages</i>.

In [94]:
# Your answer here
ages["Spiderman"]

20

## ▪ Sets

A set is a collection which is unordered and unindexed. Sets are written with curly brackets.

In [95]:
s = set()
print(s, type(s))

set() <class 'set'>

In [96]:
s = {"cat", "dog", "bird"}
print(s, type(s))

{'bird', 'cat', 'dog'} <class 'set'>

In [97]:
s[0]

TypeError: 'set' object is not subscriptable

Sets are not indexed, which means you cannot access the elements using their index numbers.

In [98]:
"dog" in s

True

In [99]:
"cow" in s

False

### Set Methods

In [100]:
s.add("fish")
s

{'bird', 'cat', 'dog', 'fish'}

The <b>add()</b> method adds an element to the set.

In [101]:
s.add("fish")
s

{'bird', 'cat', 'dog', 'fish'}

Sets do not allow duplicate values. If the element to be added already exists, it does not add the element.

In [102]:
s.update({"elephant", "horse", "whale"})
s

{'bird', 'cat', 'dog', 'elephant', 'fish', 'horse', 'whale'}

The <b>update()</b> method updates the current set by adding items from another set.

Note that the <b>add</b> method adds a single element to a set, while the <b>update</b> method adds a group of elements. There is no <b>append</b> method in sets.

In [103]:
s.remove("cat")
s

{'bird', 'dog', 'elephant', 'fish', 'horse', 'whale'}

The <b>remove()</b> method removes the specified element from the set.

In [104]:
s1 = {1, 2, 3, 4, 5}
s2 = {1, 3, 5, 7, 9}
s1.union(s2)

{1, 2, 3, 4, 5, 7, 9}

The <b>union()</b> method returns a set that contains all items from both sets.

In [105]:
s1 = {1, 2, 3, 4, 5}
s2 = {1, 3, 5, 7, 9}
s1 | s2                         # vertical bar as a union operator

{1, 2, 3, 4, 5, 7, 9}

s1 | s2 is equivalent to s1.union(s2).

In [106]:
s1 = {1, 2, 3, 4, 5}
s2 = {1, 3, 5, 7, 9}
s1.intersection(s2)

{1, 3, 5}

The <b>intersection()</b> method returns a set that contains only items that exist in both sets.

In [107]:
s1 = {1, 2, 3, 4, 5}
s2 = {1, 3, 5, 7, 9}
s1 & s2                         # ampersand as an intersection operator

{1, 3, 5}

s1 & s2 is equivalent to s1.intersection(s2).

In [108]:
s1 = {1, 2, 3, 4, 5}
s2 = {1, 3, 5, 7, 9}
s1.difference(s2)

{2, 4}

In [109]:
s2.difference(s1)

{7, 9}

The <b>difference()</b> method returns a set that contains the difference between two sets, i.e., the returned set contains items that exist only in the first set, and not in both sets.

In [110]:
s1 = {1, 2, 3, 4, 5}
s2 = {1, 3, 5, 7, 9}
s1 - s2

{2, 4}

s1 - s2 is equivalent to s1.difference(s2).

In [111]:
s1.symmetric_difference(s2)

{2, 4, 7, 9}

The <b>symmetric_difference()</b> method returns a set that contains all items from both set, but not the items that are present in both sets, i.e., the returned set contains a mix of items that are not present in both sets.

In [112]:
s1 = {1, 2, 3, 4, 5}
s2 = {1, 3, 5, 7, 9}
s1 ^ s2

{2, 4, 7, 9}

s1 ^ s2 is equivalent to s1.symmetric_difference(s2).

In [113]:
s1 = {1, 2, 3, 4, 5}
s2 = {1, 3, 5, 7, 9}
s3 = {2, 4, 6, 8, 10}

In [114]:
set.union(s1, s2, s3)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

You can perform set operations on more than two sets.

In [115]:
s1 | s2 | s3

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

## Exercises - Sets

Manually create a set named <i>s1</i> of even numbers between 1 and 20.

In [ ]:
# Your answer here

Manually create a set named <i>s2</i> of multiples of 3 between 1 and 20.

In [ ]:
# Your answer here

Get the union of <i>s1</i> and <i>s2</i>.

In [ ]:
# Your answer here

Get the intersection of <i>s1</i> and <i>s2</i>.

In [ ]:
# Your answer here

## ▪ Built-in Functions

In [116]:
abs(-1)

1

The <b>abs()</b> function returns the absolute value of a number.

In [117]:
l = [True, True, True]
all(l)

True

The <b>all()</b> function returns True if all items in an iterable object are true.

In [118]:
l = [True, True, False]
all(l)

False

In [119]:
l = [False, False, True]
any(l)

True

The <b>any()</b> function returns True if any item in an iterable object is true.

In [120]:
l = [False, False, False]
any(l)

False

In [121]:
s = "I'm learning Python data analytics"
dir(s)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

The <b>dir()</b> function returns a list of the specified object's properties and methods.

In [122]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

The <b>help()</b> function executes the built-in help system.

In [123]:
print?

In [124]:
len(s)

34

The <b>len()</b> function returns the length of an object.

In [125]:
l = [1, 2, 3, 4, 5]
max(l)

5

In [126]:
max(s)

'y'

The <b>max()</b> function returns the largest item in an iterable.

In [127]:
min(l)

1

The <b>min()</b> function returns the smallest item in an iterable.

In [128]:
pow(10, 2)

100

The <b>pow(x, y)</b> function returns the value of x to the power of y.

In [129]:
s = "I'm learning Python data analytics."
print(s)

I'm learning Python data analytics.

The <b>print()</b> function prints the specified message to the screen or other standard output device.

In [130]:
range(1,10)

range(1, 10)

In [131]:
range('A', 'D')

TypeError: 'str' object cannot be interpreted as an integer

The <b>range(start, stop)</b> function returns a sequence of numbers, starting from <b>start</b> and increments by 1 and ends at <b>end</b> - 1. Rather than being a function, range() is actually an unchangeable sequence type.

In [132]:
list(range(0, 10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [134]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

You can skip <b>start</b> if it is 0.

In [135]:
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

The <b>range(start, stop, step)</b> function increments by <b>step</b>.

In [136]:
l = [1, 5, 3, 2, 4]
reversed(l)

The <b>reversed()</b> function returns a reversed iterator.

In [137]:
list(reversed(l))

[4, 2, 3, 5, 1]

Do not confuse reversing a list with sorting a list.

In [138]:
round(3.141592, 2)

3.14

The <b>round(number, ndigits)</b> function rounds <b>number</b> rounded to <b>ndigits</b> precision.

In [139]:
round(3.141592)

3

If <b>ndigits</b> is omitted, it returns the nearest integer to its input.

In [140]:
l = [1, 5, 3, 2, 4]
sorted(l)

[1, 2, 3, 4, 5]

The <b>sorted()</b> function returns a sorted list.

In [141]:
sorted(l, reverse=True)

[5, 4, 3, 2, 1]

In [142]:
sum(l)

15

The <b>sum()</b> function sums the items of an iterator.

In [143]:
type(l)

list

The <b>type()</b> function returns the type of an object.

In [144]:
l1 = ["Alice", "Bob", "Tom"]
l2 = [30, 25, 34]
zip(l1, l2)

The <b>zip()</b> function returns an iterator that aggregates elements from each of the iterables.

In [145]:
list(zip(l1, l2))

[('Alice', 30), ('Bob', 25), ('Tom', 34)]

In [146]:
l=list(zip(l1, l2))
type(l1)

list

In [147]:
type(list(zip(l1, l2))[0])

tuple

### Difference between Functions and Methods

- A function looks like this: function(something), e.g., sorted(l1)
- A method looks like this: something.method(), e.g., l1.sort()

A method always belongs to an object (e.g. string methods only work for string objects, list methods only work for list objects, etc.), while a function doesn’t necessarily (e.g., you can use the <b>len()</b> function for nearly any data type).

## Exercises - Built-in Functions

Check if all items in <i>l</i> is True. The output must be either True or False.

In [ ]:
l = [True, True, True, True, True, True, True, True, True, True, False, True, True, True, True]

Check if all items in <i>l</i> are True. The output must be either True or False.

In [ ]:
# Your answer here

Check if any item in <i>l</i> is True. The output must be either True or False.

In [ ]:
l = [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False]

In [ ]:
# Your answer here

Get the min value in <i>l</i>.

In [ ]:
l = [5, 13, 76, 9, 93, 28, 49, 76, 9, 88]

In [ ]:
# Your answer here

Get the max value in <i>l</i>.

In [ ]:
# Your answer here

Get the sum of all values in <i>l</i>.

In [ ]:
# Your answer here

Generate a list of all two-digit integers.

In [ ]:
# Your answer here

Generate a list of all two-digit even integers.

In [ ]:
# Your answer here

Get the value of 2 to the power of 10.

In [ ]:
# Your answer here

Get the number of 0.333333333333 rounded to 2 precision.

In [ ]:
# Your answer here

### Built-in Functions for Type Conversion

In [148]:
a = 1.2
print(a, type(a))

1.2 <class 'float'>

In [149]:
b = int(a)
print(b, type(b))

1 <class 'int'>

The <b>int()</b> function converts the specified value into an integer number.

In [150]:
c = str(b)
print(c, type(c))

1 <class 'str'>

The <b>str()</b> function converts the specified value into a string.

In [151]:
d = float(c)
print(d, type(d))

1.0 <class 'float'>

The <b>float()</b> function converts the specified value into a floating point number.

In [152]:
l = [1, 2, 3, 2, 1]
print(l, type(l))

[1, 2, 3, 2, 1] <class 'list'>

In [153]:
s = set(l)
print(s, type(s))

{1, 2, 3} <class 'set'>

The <b>set()</b> function creates a set object.

There are cases where you need to convert a list to a set, so you can use some characteristics of sets.

In [154]:
l2 = list(s)
print(l2, type(l2))

[1, 2, 3] <class 'list'>

The <b>list()</b> function creates a list object.

In [155]:
animal_list = ["dog", "cat", "bird", "tiger", "lion", "fox","dog","cat"]
animal_list

['dog', 'cat', 'bird', 'tiger', 'lion', 'fox', 'dog', 'cat']

In [156]:
animal_set = set(animal_list)
animal_set

{'bird', 'cat', 'dog', 'fox', 'lion', 'tiger'}

In [157]:
animal_list_2 = list(animal_set)
print(animal_list_2)
print(animal_list)

['lion', 'tiger', 'bird', 'dog', 'cat', 'fox']
['dog', 'cat', 'bird', 'tiger', 'lion', 'fox', 'dog', 'cat']

In [158]:
animal_list3 = list(set(["dog", "cat", "bird", "tiger", "lion", "fox","dog","cat"]))
animal_list3

['lion', 'tiger', 'bird', 'dog', 'cat', 'fox']

## ▪ Operators

In [159]:
(1 + 2) * 3

9

Python supports all types of arithmetic operators.

### Powers

In [160]:
2 ** 10      # 2 to the power of 10

1024

2 \*\* 10 is equivalent to pow(2, 10).

### Division

In [161]:
5 / 2    # a single slash for true division

2.5

In [162]:
5 // 2   # double slashes for floor division

2

In [163]:
5 % 2    # a percentage for remainder division

1

### Negation

In [164]:
x = 1
-x

-1

To negate a variable, just put - before the variable.

### Comparisons

Python supports all types of comparison operators.

    <	strictly less than
    <=	less than or equal to
    >	strictly greater than
    >=	greater than or equal to
    ==	equal
    !=	not equal
    is	object identity
is not	negated object identity

In [165]:
a = 1
b = 3

In [166]:
a == b

False

Do not counfuse the <b>==</b> (equality) operator with the <b>=</b> (assignment) operator.

In [167]:
a != b

True

In [168]:
a > b

False

### Augmented Assignment

In [169]:
x = 2
x += 1
x

3

In [170]:
x+1

4

In [171]:
x

3

x += 1 is equivalent to x = x + 1. This the easiest way to add something to itself.

In [172]:
x = 2
x -= 1
x

1

x -= 1 is equivalent to x = x - 1. This the easiest way to subtract something from itself.

In [173]:
x = 3
x *= 2
x

6

x *= 2 is equivalent to x = x * 2. This the easiest way to multiply itself by something.

In [174]:
x = 4
x /= 2
x

2.0

x /= 2 is equivalent to x = x / 2. This is the easiest way to divide iteself by something.

In [175]:
x = 4
x **= 2
x

16

x \*\*= 2 is equivalent to x = x \*\* 2.

### Boolean Operations

In [176]:
p = True
q = False

There are two Boolean values in Python: True and False.

In [177]:
p and q

False

In [178]:
p or q

True

In [179]:
not p

False

## ▪ Del

The <b>del</b> keyword is used to delete objects. In Python everything is an object.

In [180]:
s = "hello"
s

'hello'

In [181]:
del(s)

In [182]:
s

NameError: name 's' is not defined

In [183]:
l = [1, 2, 3, 4, 5]
del(l[0])

In [184]:
l

[2, 3, 4, 5]

You can also delete an element in a collection that is changeable.

In [185]:
buildings = {"UCC": "University Capitol Center",
             "CPHB": "College of Public Health Building",
             "IMU": "Iowa Memorial Union"}
buildings

{'UCC': 'University Capitol Center',
 'CPHB': 'College of Public Health Building',
 'IMU': 'Iowa Memorial Union'}

In [186]:
del(buildings["CPHB"], buildings["IMU"])

In [187]:
buildings

{'UCC': 'University Capitol Center'}