# Text Analytics | BAIS:6100
# Homework 2. Python Basics for Text Processing Part 2

13 questions, 7 points in total

## Instructions

- Fill in the Python statements needed to complete all the questions below. 
- Program everything inside this notebook. 
- Use only one cell per question. 
- Each code cell must be run with no errors.
- Do not contain any unnecessary code in your answer. (Only the final outcome will be regarded as your answer.)
- If the question requests that you store information in a certain variable, use the specific variables name (case sensitive).
- All problems must be solved in a programmable way.
- When you are done, make sure to save your notebook and then click Restart & Run All before subimission to create a clean version.

## Questions

Import the two packages <b>random</b> and <b>string</b>. Copy-and-paste the `generate_random_string` function to reuse it.

In [1]:
# Your answer here
import random
import string

def generate_random_string(seq, min_len, max_len):
    return "".join([random.choice(seq) for i in range(random.choice(range(min_len, max_len+1)))])

1\. (0.5 pts) Create a new file `hw1_output.csv` in the `outcome` folder. The first row in the file contains two column names `rid` and `num`. The following 1000 rows contain the following two column values: the first column has row IDs ranging from 1 to 1000 and the second column has strings of 5-10 random digits. Rows are separated by a new line and columns by a comma. For example, the first five rows in the file look as below. (Be aware that the numbers below should be different than yours as they were randomly generated.)

rid,num
1,5494572
2,17654
3,1196825
4,05998

In [2]:
# Your answer here
with open("outcome/hw1_output.csv", mode="w") as fw:
    fw.write("rid,num\n")
    
    for i in range(1, 1001):
        rid = i
        num = generate_random_string(string.digits, 5, 10)
        
        fw.write("{},{}\n".format(rid, num))

In [3]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
import os
os.path.isfile("outcome/hw1_output.csv")     # Expected output: True

True

Dictionary `d` simply maps each digit character to a puncutation character.

In [4]:
# Make sure to run this cell.
d = {
    "1": "!",
    "2": "@", 
    "3": "#",
    "4": "$",
    "5": "%",
    "6": "^",
    "7": "&",
    "8": "*",
    "9": "(",
    "0": ")", 
}

2\. (0.7 pts) Create another file `hw1_output2.csv` in the `outcome` folder. The first row in the file contains three column names `rid`, `num`, and `code`. The following 1000 rows contain the following three column values: the first column has the same row IDs as above, the second column has strings of random digits with the same rule as above, and the third column has code strings, each character of which is the value for the key in the dictionary `d`. For example, if the random string of digits is '3164482864', its corresponding code string is '#!^\$\$\*@\*^$', as '3' is mapped to '#', '1' is to '!', so on and so forth. Rows are separated by a new line and columns by a comma. For example, the first five rows in the file look as below. (Be aware that the numbers and strings below should be different than yours as they were randomly generated.)

rid,num,code
1,3164482864,#!^$$*@*^$
2,2233297733,@@##@(&&##
3,7713718,&&!#&!*
4,373982531,#&#(*@%#!

In [5]:
# Your answer here
with open("outcome/hw1_output2.csv", mode="w") as fw:
    fw.write("rid,num,code\n")
    
    for i in range(1, 1001):
        rid = i
        num = generate_random_string(string.digits, 5, 10)
        code = "".join([d[c] for c in num])
        
        fw.write("{},{},{}\n".format(rid, num, code))

In [6]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
os.path.isfile("outcome/hw1_output2.csv")     # Expected output: True

True

<hr>

Import the <b>Pandas</b> package and set the max column width to 150.

In [7]:
# Your answer here
import pandas as pd
pd.set_option('display.max_colwidth', 150)

3\. (0.5 pts) Read the `timeline_UN.csv` file in the `classdata/tweets` folder into a Pandas dataframe `df`.

In [8]:
# Your answer here
df = pd.read_csv("classdata/tweets/timeline_UN.csv", sep="\t")

In [9]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
df

,status_id,created_at,text,retweet_count,favorite_count,is_retweet,retweet_created_at
0,1354551711172587523,Wed Jan 27 22:07:48 +0000 2021,RT @WFP: Famine feeds on:üå™Ô∏è #ClimateChangeüåÄ Chaosüí• ConflictCOVID-19 has compounded existing issues and pushed millions of people to t‚Ä¶,64,0,1,Tue Jan 26 00:54:00 +0000 2021
1,1354536245385457666,Wed Jan 27 21:06:21 +0000 2021,"RT @UNReliefChief: Our best chance of getting ahead of this virus now is if all wealthy nations, especially those with multiple deals with‚Ä¶",29,0,1,Tue Jan 26 20:19:39 +0000 2021
2,1354520804747186177,Wed Jan 27 20:05:00 +0000 2021,üå≥ Forest &amp; land conservation‚òÄ Renewable energyüåæ Climate-friendly farming techniquesüë∑‚Äç‚ôÄÔ∏è Green businesses &amp; jobs‚Ä¶ https://t.co/698QTIsN0S,68,221,0,NaN
3,1354504731457179663,Wed Jan 27 19:01:08 +0000 2021,RT @Refugees: 2020 was a record low for refugee resettlement.We urge States to offer more resettlement places and help save lives of refu‚Ä¶,41,0,1,Wed Jan 27 08:14:00 +0000 2021
4,1354489960167071744,Wed Jan 27 18:02:26 +0000 2021,RT @UNICEF: ‚ÄúThe very little we know about the impact of the conflict on children in Tigray is deeply troubling. @unicefchief To reach f‚Ä¶,107,0,1,Wed Jan 27 15:21:44 +0000 2021
...,...,...,...,...,...,...,...
3195,1274401880714534912,Sat Jun 20 18:01:00 +0000 2020,"#LGBTI rights = HUMAN rightsThis #PrideMonth, join UN @free_equal in the fight against transphobia &amp; homophobia.‚Ä¶ https://t.co/F18q47KPC9",199,628,0,NaN
3196,1274371933656584199,Sat Jun 20 16:02:00 +0000 2020,"There were 26 million refugees globally at the end of 2019.On Saturday's #WorldRefugeeDay, show your solidarity w‚Ä¶ https://t.co/ljrYHhYz2P",226,456,0,NaN
3197,1274337365721563136,Sat Jun 20 13:44:38 +0000 2020,"RT @antonioguterres: Nearly 80 million women, children &amp; men have been forced from their homes as refugees or internally displaced people.‚Ä¶",1237,0,1,Fri Jun 19 23:35:00 +0000 2020
3198,1274326886643118080,Sat Jun 20 13:03:00 +0000 2020,The worldwide response to #COVID19 has demonstrated the power of solidarity. People are spreading kindness through‚Ä¶ https://t.co/R1r30jWy3W,228,596,0,NaN
3199,1274316448530411524,Sat Jun 20 12:21:31 +0000 2020,"RT @Refugees: On #WorldRefugeeDay, we celebrate and honour refugees across the world. You never cease to inspire us.From the UN High Comm‚Ä¶",388,0,1,Sat Jun 20 08:05:00 +0000 2020

4\. (0.5 pts) Select from `df` the element at row index position 100 and in the `created_at` column and then save it in the variable `ans4`.

In [10]:
# Your answer here
ans4 = df["created_at"][100]

In [11]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans4

'Wed Jan 20 21:00:37 +0000 2021'

5\. (0.5 pts) Select, from `df`, all rows with its `is_retweet` column value being 0 and then, from the selected dataframe, create a random sample of 10 rows without duplicates. Set `random_state` to 0 when sampling. Save the final dataframe in the variable `ans5`.

In [12]:
# Your answer here
ans5 = df[df.is_retweet == 0].sample(n=10, random_state=0)

In [13]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans5

,status_id,created_at,text,retweet_count,favorite_count,is_retweet,retweet_created_at
1705,1313283833878339584,Tue Oct 06 01:04:00 +0000 2020,"1,100+ photos from all over the world were submitted for @WMO's 2021 calendar competition. Vote for your favourit‚Ä¶ https://t.co/Kr77Zkicfj",76,325,0,NaN
3035,1278494850682241024,Thu Jul 02 01:05:00 +0000 2020,All humans have the right to thrive with dignity and freedom from racism and discrimination in all its forms.--‚Ä¶ https://t.co/RYCG8ySZQE,195,549,0,NaN
813,1333909995021275140,Tue Dec 01 23:05:00 +0000 2020,The pandemic has highlighted the value of migrant labour.Many of those providing essential health &amp; care services‚Ä¶ https://t.co/wueaK4Gaog,51,181,0,NaN
313,1346367077750173696,Tue Jan 05 08:05:00 +0000 2021,The successful @unpeacekeeping / @_AfricanUnion mission in Darfur closed last week after 13 years of‚Ä¶ https://t.co/iBHzSKo9gR,54,243,0,NaN
728,1335902624969846784,Mon Dec 07 11:03:00 +0000 2020,"The world is witnessing record-high levels of displacement.Every day, the UN works to provide protection for 82.5‚Ä¶ https://t.co/I3zHZPFFsG",73,284,0,NaN
2478,1294440168019996673,Sat Aug 15 01:06:00 +0000 2020,Artists from around the Pacific are coming together this weekend to pay tribute to essential workers &amp; support ever‚Ä¶ https://t.co/qNNrkuRmrl,62,204,0,NaN
599,1338439340062461952,Mon Dec 14 11:03:00 +0000 2020,An unbroken 'cold chain' of refrigerators &amp; coolers will be required to safely deliver new #COVID19 vaccines.‚Ä¶ https://t.co/IFKFDbcRWy,79,241,0,NaN
1277,1322705918363078658,Sun Nov 01 01:04:00 +0000 2020,"The United Nations not only stands with you -- the United Nations belongs to you, and is you -- @antonioguterres.‚Ä¶ https://t.co/4ldvAwMhcP",146,567,0,NaN
253,1347906471254753281,Sat Jan 09 14:02:00 +0000 2021,"1/3 of food produced is being lost or wasted, all while global hunger &amp; food insecurity are on the rise.See how t‚Ä¶ https://t.co/VqvfGpq8w0",198,574,0,NaN
715,1336174667174998016,Tue Dec 08 05:04:00 +0000 2020,Women #ServingForPeace with @UNPOL:üïä help build &amp; sustain peace;üëÆ‚Äç‚ôÄÔ∏è provide sense of security;üë©‚Äçüè´ serve as role‚Ä¶ https://t.co/gwrvOLa7Yo,46,181,0,NaN

6\. (0.5 pts) Select the first 30 values from the `created_at` column of `df` and print only the HH:MM:SS part of each value, where H denotes each digit in an hour, M each digit in a minute, and S each digit in a second. Rows in the printed output are separated by a new line. For example, the first three rows in the printed output must look as follows.

22:07:48
21:06:21
20:05:00

In [14]:
# Your answer here
for item in df.created_at[:30]:
    print(item[11:19])

22:07:48
21:06:21
20:05:00
19:01:08
18:02:26
17:03:00
16:35:43
16:00:50
15:07:00
13:56:27
13:03:00
12:00:11
11:07:00
08:53:50
08:05:00
05:04:00
03:01:00
01:01:00
00:29:59
23:22:07
22:05:13
20:57:46
20:09:00
18:00:26
17:02:42
16:01:13
15:00:55
14:04:00
11:06:00
08:05:00

7\. (0.5 pts) Select the first 30 rows from `df` and print the values of each row in the following format: '\[TYPE\]  TEXT' where TYPE is either '*Tweet*' if the `is_retweet` column value equals 0 or '*Retweet*' if 1, and TEXT is the `text` column value. Rows are separated by two new lines. For example, the printed output for the first seven rows must look as follows.

[Retweet] RT @WFP: Famine feeds on:üå™Ô∏è #ClimateChangeüåÄ  Chaosüí• ConflictCOVID-19 has compounded existing issues and pushed millions of people to t‚Ä¶

[Retweet] RT @UNReliefChief: Our best chance of getting ahead of this virus now is if all wealthy nations, especially those with multiple deals with‚Ä¶

[Tweet] üå≥ Forest &amp; land conservation‚òÄ Renewable energyüåæ Climate-friendly farming techniquesüë∑‚Äç‚ôÄÔ∏è Green businesses &amp; jobs‚Ä¶ https://t.co/698QTIsN0S

[Retweet] RT @Refugees: 2020 was a record low for refugee resettlement.We urge States to offer more resettlement places and help save lives of refu‚Ä¶

[Retweet] RT @UNICEF: ‚ÄúThe very little we know about the impact of the conflict on children in Tigray is deeply troubling. @unicefchief To reach f‚Ä¶

[Tweet] On Wednesday's #HolocaustRemembranceDay we honour the memory of the six million Jews &amp; millions of others who peris‚Ä¶ https://t.co/lxdxEKGDEk

[Retweet] RT @mbachelet: On this day, we are reminded of the horror to which hatred and lies can lead.Words have consequences.We need to ensure t‚Ä¶

In [15]:
# Your answer here
for idx, series in df[:30].iterrows():
    text = series.text
    is_retweet = series.is_retweet
    
    if is_retweet == 0:
        print("[Tweet] {}\n".format(text))
    else:
        print("[Retweet] {}\n".format(text))

[Retweet] RT @WFP: Famine feeds on:üå™Ô∏è #ClimateChangeüåÄ  Chaosüí• ConflictCOVID-19 has compounded existing issues and pushed millions of people to t‚Ä¶

[Retweet] RT @UNReliefChief: Our best chance of getting ahead of this virus now is if all wealthy nations, especially those with multiple deals with‚Ä¶

[Tweet] üå≥ Forest &amp; land conservation‚òÄ Renewable energyüåæ Climate-friendly farming techniquesüë∑‚Äç‚ôÄÔ∏è Green businesses &amp; jobs‚Ä¶ https://t.co/698QTIsN0S

[Retweet] RT @Refugees: 2020 was a record low for refugee resettlement.We urge States to offer more resettlement places and help save lives of refu‚Ä¶

[Retweet] RT @UNICEF: ‚ÄúThe very little we know about the impact of the conflict on children in Tigray is deeply troubling. @unicefchief To reach f‚Ä¶

[Tweet] On Wednesday's #HolocaustRemembranceDay we honour the memory of the six million Jews &amp; millions of others who peris‚Ä¶ https://t.co/lxdxEKGDEk

[Retweet] RT @mbachelet: On this day, we are reminded of the horror to which hatred and lies can lead.Words have consequences.We need to ensure t‚Ä¶

[Retweet] RT @UNDP: 50 countries. 17 languages. 1.2 million people. The results are in of our #PeoplesClimateVote - the largest survey of public op‚Ä¶

[Tweet] Constituents who are asking questions &amp; raising issues are very powerful. -- UN Envoy Mark Carney explains that e‚Ä¶ https://t.co/dXxEfWvr0y

[Retweet] RT @UNESCO: The Holocaust began with words - and in the era of the internet and social media, the power of propaganda is more devastating t‚Ä¶

[Tweet] We can all help #ProtectTheFacts and ensure the Holocaust is not denied, excused, minimised or misrepresented.Lea‚Ä¶ https://t.co/aU6pk0Mjv7

[Retweet] RT @UNICEF: #CycloneEloise has destroyed homes, health centres and classrooms in Mozambique.@UNICEF_Moz is urgently working with partners‚Ä¶

[Tweet] This year must be a year of healing -- healing from the pandemic, and healing our broken societies in which hatred‚Ä¶ https://t.co/zz0sJF6s2C

[Retweet] RT @antonioguterres: Today we honour the memory of the six million Jews &amp; millions of others who were systematically murdered in the Holoca‚Ä¶

[Tweet] 9 out of 10 people around the world breathe highly polluted air. Be a #ClimateAction superhero - bike, walk or ta‚Ä¶ https://t.co/sp0bErONiL

[Tweet] The Holocaust began with words, and today, the power of propaganda is more devastating than ever. But education &amp;‚Ä¶ https://t.co/DDGgyH0fBs

[Tweet] With #COVID19 exacerbating existing challenges, increased support is needed for peacebuilding, alongside a renewed‚Ä¶ https://t.co/JU4fL91q03

[Tweet] As we remember those who died in the Holocaust and honour the survivors, our best tribute is the creation of a wor‚Ä¶ https://t.co/vVcHFKVddl

[Retweet] RT @GlobalGoalsUN: #COVID19 has turned the world upside down. While vaccines give us some comfort, we're far from a decisive victory.@UND‚Ä¶

[Tweet] ‚ÄúElections are a crucial part of building a democratic Palestinian State built on rule of law, with equal rights fo‚Ä¶ https://t.co/otEr4KSyN9

[Retweet] RT @antonioguterres: The world has reached the heartbreaking milestone of 100 million #COVID19 cases, as the virus continues to surge aroun‚Ä¶

[Retweet] RT @UNESCO: It's up to you.It's up to him.It's up to them.It's up to me.Taking action to counter Holocaust distortion is everyone‚Äôs‚Ä¶

[Tweet] Climate change lawsuits are on the rise around the world, drawing on existing laws that guarantee everyone the fund‚Ä¶ https://t.co/vHrlgQ0ZQR

[Retweet] RT @FAO: Soils host a 1/4 of our planet's biodiversity. Yet, soil pollution puts this at risk. It starts by reducing #soils‚Äô biodiversity‚Ä¶

[Tweet] In Syria, kids are back in class after months of school closures due to #COVID19. Watch as @WFP prepares &amp; delive‚Ä¶ https://t.co/Turkk4QeMf

[Retweet] RT @UNmigration: üö® Heavy rains and flooding have displaced thousands of people in Mozambique. IOM and partners are working to ensure coor‚Ä¶

[Retweet] RT @UNEP: Recent trends in climate litigation include ‚Äúgreenwashing‚Äù and non-disclosures, when corporate messaging contains false or mislea‚Ä¶

[Tweet] We must honour the past to safeguard the future.Ahead of Wednesday's #HolocaustRemembranceDay, see how to‚Ä¶ https://t.co/RopbKn59UZ

[Tweet] Child labour has decreased by 38% since 2000 - yet, 152 million children worldwide are still trapped in child labou‚Ä¶ https://t.co/8QQq22PZAa

[Tweet] A country‚Äôs ability to adapt to &amp; prepare for the increasingly harmful impacts of the climate crisis should not de‚Ä¶ https://t.co/qi0Vwu3BBv

8\. (0.5 pts) Add a new column `num_tokens` to `df` such that each value in the column is the number tokens of the `text` column value. (Use the <b>split</b> method to get a list of tokens of a string).

In [16]:
# Your answer here
df["num_tokens"] = df.text.apply(lambda x: len(x.split()))

In [17]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
df[["text", "num_tokens"]]

,text,num_tokens
0,RT @WFP: Famine feeds on:üå™Ô∏è #ClimateChangeüåÄ Chaosüí• ConflictCOVID-19 has compounded existing issues and pushed millions of people to t‚Ä¶,19
1,"RT @UNReliefChief: Our best chance of getting ahead of this virus now is if all wealthy nations, especially those with multiple deals with‚Ä¶",23
2,üå≥ Forest &amp; land conservation‚òÄ Renewable energyüåæ Climate-friendly farming techniquesüë∑‚Äç‚ôÄÔ∏è Green businesses &amp; jobs‚Ä¶ https://t.co/698QTIsN0S,15
3,RT @Refugees: 2020 was a record low for refugee resettlement.We urge States to offer more resettlement places and help save lives of refu‚Ä¶,23
4,RT @UNICEF: ‚ÄúThe very little we know about the impact of the conflict on children in Tigray is deeply troubling. @unicefchief To reach f‚Ä¶,24
...,...,...
3195,"#LGBTI rights = HUMAN rightsThis #PrideMonth, join UN @free_equal in the fight against transphobia &amp; homophobia.‚Ä¶ https://t.co/F18q47KPC9",17
3196,"There were 26 million refugees globally at the end of 2019.On Saturday's #WorldRefugeeDay, show your solidarity w‚Ä¶ https://t.co/ljrYHhYz2P",18
3197,"RT @antonioguterres: Nearly 80 million women, children &amp; men have been forced from their homes as refugees or internally displaced people.‚Ä¶",21
3198,The worldwide response to #COVID19 has demonstrated the power of solidarity. People are spreading kindness through‚Ä¶ https://t.co/R1r30jWy3W,17
3199,"RT @Refugees: On #WorldRefugeeDay, we celebrate and honour refugees across the world. You never cease to inspire us.From the UN High Comm‚Ä¶",22

9\. (0.7 pts) Add a new column `text_date` to `df` such that each column value is a string in the format 'TEXT \[posted on b DD, YYYY\]', where TEXT is the first 50 characters of the `text` column value concatenated by '...', b denotes the the abbreviated month name such as Jan and Feb, D denotes each digit in a day, and Y denotes each digit in a year, all of which come from the `created_at` column value. For example, the first and last values in the new column must look as below, respectively. You may need to define a user-created function to add the new column.

RT @WFP: Famine feeds on:üå™Ô∏è #ClimateChangeüåÄ Chaos... [posted on Jan 27, 2021]

RT @Refugees: On #WorldRefugeeDay, we celebrate an... [posted on Jun 20, 2020]

In [18]:
# Your answer here
def format_row(row):
    text = row.text
    timestamp = row.created_at
    date = timestamp[4:10]
    year = timestamp[-4:]
    
    return "{}... [posted on {}, {}]".format(text[:50], date, year)

df["text_date"] = df.apply(lambda x: format_row(x), axis=1)

In [19]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
df[["text", "text_date"]]

,text,text_date
0,RT @WFP: Famine feeds on:üå™Ô∏è #ClimateChangeüåÄ Chaosüí• ConflictCOVID-19 has compounded existing issues and pushed millions of people to t‚Ä¶,"RT @WFP: Famine feeds on:üå™Ô∏è #ClimateChangeüåÄ Chaos... [posted on Jan 27, 2021]"
1,"RT @UNReliefChief: Our best chance of getting ahead of this virus now is if all wealthy nations, especially those with multiple deals with‚Ä¶","RT @UNReliefChief: Our best chance of getting ahea... [posted on Jan 27, 2021]"
2,üå≥ Forest &amp; land conservation‚òÄ Renewable energyüåæ Climate-friendly farming techniquesüë∑‚Äç‚ôÄÔ∏è Green businesses &amp; jobs‚Ä¶ https://t.co/698QTIsN0S,"üå≥ Forest &amp; land conservation‚òÄ Renewable energy... [posted on Jan 27, 2021]"
3,RT @Refugees: 2020 was a record low for refugee resettlement.We urge States to offer more resettlement places and help save lives of refu‚Ä¶,"RT @Refugees: 2020 was a record low for refugee re... [posted on Jan 27, 2021]"
4,RT @UNICEF: ‚ÄúThe very little we know about the impact of the conflict on children in Tigray is deeply troubling. @unicefchief To reach f‚Ä¶,"RT @UNICEF: ‚ÄúThe very little we know about the imp... [posted on Jan 27, 2021]"
...,...,...
3195,"#LGBTI rights = HUMAN rightsThis #PrideMonth, join UN @free_equal in the fight against transphobia &amp; homophobia.‚Ä¶ https://t.co/F18q47KPC9","#LGBTI rights = HUMAN rightsThis #PrideMonth, join... [posted on Jun 20, 2020]"
3196,"There were 26 million refugees globally at the end of 2019.On Saturday's #WorldRefugeeDay, show your solidarity w‚Ä¶ https://t.co/ljrYHhYz2P","There were 26 million refugees globally at the end... [posted on Jun 20, 2020]"
3197,"RT @antonioguterres: Nearly 80 million women, children &amp; men have been forced from their homes as refugees or internally displaced people.‚Ä¶","RT @antonioguterres: Nearly 80 million women, chil... [posted on Jun 20, 2020]"
3198,The worldwide response to #COVID19 has demonstrated the power of solidarity. People are spreading kindness through‚Ä¶ https://t.co/R1r30jWy3W,"The worldwide response to #COVID19 has demonstrate... [posted on Jun 20, 2020]"
3199,"RT @Refugees: On #WorldRefugeeDay, we celebrate and honour refugees across the world. You never cease to inspire us.From the UN High Comm‚Ä¶","RT @Refugees: On #WorldRefugeeDay, we celebrate an... [posted on Jun 20, 2020]"

10\. (0.5 pts) Add a new column `mention_covid` to `df` such that each column value is either True if the `text` column value contains the word '*covid*' (case-insensitive) or False otherwise. For example, the first value in the new column must be True, as the text does contain the word '*covid*', whereas the second value must be False, as the text does not have the word.

In [20]:
# Your answer here
df["mention_covid"] = df.text.str.contains("covid", case=False)

In [21]:
# Alternatively
df["mention_covid"] = df.text.apply(lambda x: "covid" in x.lower())

In [22]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
df[["text", "mention_covid"]]

,text,mention_covid
0,RT @WFP: Famine feeds on:üå™Ô∏è #ClimateChangeüåÄ Chaosüí• ConflictCOVID-19 has compounded existing issues and pushed millions of people to t‚Ä¶,True
1,"RT @UNReliefChief: Our best chance of getting ahead of this virus now is if all wealthy nations, especially those with multiple deals with‚Ä¶",False
2,üå≥ Forest &amp; land conservation‚òÄ Renewable energyüåæ Climate-friendly farming techniquesüë∑‚Äç‚ôÄÔ∏è Green businesses &amp; jobs‚Ä¶ https://t.co/698QTIsN0S,False
3,RT @Refugees: 2020 was a record low for refugee resettlement.We urge States to offer more resettlement places and help save lives of refu‚Ä¶,False
4,RT @UNICEF: ‚ÄúThe very little we know about the impact of the conflict on children in Tigray is deeply troubling. @unicefchief To reach f‚Ä¶,False
...,...,...
3195,"#LGBTI rights = HUMAN rightsThis #PrideMonth, join UN @free_equal in the fight against transphobia &amp; homophobia.‚Ä¶ https://t.co/F18q47KPC9",False
3196,"There were 26 million refugees globally at the end of 2019.On Saturday's #WorldRefugeeDay, show your solidarity w‚Ä¶ https://t.co/ljrYHhYz2P",False
3197,"RT @antonioguterres: Nearly 80 million women, children &amp; men have been forced from their homes as refugees or internally displaced people.‚Ä¶",False
3198,The worldwide response to #COVID19 has demonstrated the power of solidarity. People are spreading kindness through‚Ä¶ https://t.co/R1r30jWy3W,True
3199,"RT @Refugees: On #WorldRefugeeDay, we celebrate and honour refugees across the world. You never cease to inspire us.From the UN High Comm‚Ä¶",False

<hr>

Import the <b>re</b> package to use regular expressions.

In [23]:
# Your answer here
import re

String `html` contains some HTML code.

In [24]:
# Make sure to run this cell.
html = '<!DOCTYPE html><html><body><h2>HTML Images</h2><p>HTML images are defined with the img tag:</p><img src="w3schools.jpg" alt="W3Schools.com" width="104" height="142"></body></html>'
html

'<!DOCTYPE html><html><body><h2>HTML Images</h2><p>HTML images are defined with the img tag:</p><img src="w3schools.jpg" alt="W3Schools.com" width="104" height="142"></body></html>'

11\. (0.5 pts) An HTML element starts with the `<html>` tag and ends with `</html>` tag. Using a regular expression, get a list of strings containing the HTML element in `html` and save the resulting list in the variable `ans11`. The list must look as follows:

['<html><body><h2>HTML Images</h2><p>HTML images are defined with the img tag:</p><img src="w3schools.jpg" alt="W3Schools.com" width="104" height="142"></body></html>']

In [25]:
# Your answer here
ans11 = re.findall("<html>.*</html>", html)

In [26]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans11

['<html><body><h2>HTML Images</h2><p>HTML images are defined with the img tag:</p><img src="w3schools.jpg" alt="W3Schools.com" width="104" height="142"></body></html>']

12\. (0.6 pts) A P element starts with the `<p>` tag and ends with `</p>` tag. Using a regular expression, get a list of strings containing only the text part between the start tag and the end tag in `html` and save the resulting list in the variable `ans12`. The list must look as follows:

['HTML images are defined with the img tag:']

In [27]:
# Your answer here
ans12 = re.findall("<p>(.+)</p>", html)

In [28]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans12

['HTML images are defined with the img tag:']

String `text` contains several email addresses in it.

In [29]:
# Make sure to run this cell.
text = "If you have any questions, please contact any of the following session organizers:\n\n\
Roy Barnes, rcbarnes@umich.edu\n\
Josh Murray, josh.murray@vanderbilt.edu\n\
Tarun Banerjee, tarunbanerjee@pitt.edu\n\
Eelke Heemskerk, E.M.Heemskerk@uva.nl\n\
Mohamed Oubenal, oubenal1@gmail.com\n\n\
If you have any problems with the system please do not hesitate to contact info@data-mining-forum.de.\n\n\
We look forward to seeing you in Paris!"

print(text)

If you have any questions, please contact any of the following session organizers:

Roy Barnes, rcbarnes@umich.edu
Josh Murray, josh.murray@vanderbilt.edu
Tarun Banerjee, tarunbanerjee@pitt.edu
Eelke Heemskerk, E.M.Heemskerk@uva.nl
Mohamed Oubenal, oubenal1@gmail.com

If you have any problems with the system please do not hesitate to contact info@data-mining-forum.de.

We look forward to seeing you in Paris!

13\. (0.5 pts) Using a regular expression, get a list of strings containing all the email addresses in `text` and save the resulting list in the variable `ans13`. The list must contain all six email addresses as follows:

['rcbarnes@umich.edu',
 'josh.murray@vanderbilt.edu',
 'tarunbanerjee@pitt.edu',
 'E.M.Heemskerk@uva.nl',
 'oubenal1@gmail.com',
 'info@data-mining-forum.de']

In [30]:
# Your answer here
ans13 = re.findall("[a-zA-Z0-9\.]+@[a-zA-Z0-9.-]+\.[a-zA-Z0-9]+", text)

In [31]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans13

['rcbarnes@umich.edu',
 'josh.murray@vanderbilt.edu',
 'tarunbanerjee@pitt.edu',
 'E.M.Heemskerk@uva.nl',
 'oubenal1@gmail.com',
 'info@data-mining-forum.de']

### Now that you have completed all the questions, click Kernel > Restart & Run All to creat a clean version of this notebook and check if all cells have run as expected.

## Quick Survey

How long did it take you to complete this homework? (This will not affect your score. Your answer will be very helpful for the instructor to design homewoks and exams. Thank you!)

: X minutes