# Text Analytics | BAIS:6100
# Module 2: Python Basics for Text Processing, Part 2 - Exercises

Instructor: Kang-Pyo Lee

## Exercises - File Writing and Reading

1\. Import the two packages <b>random</b> and <b>string</b>. Copy-and-paste the `generate_random_string` function to reuse it.

In [ ]:
# Your answer here

2\. Create a new file `ex_output.csv` in the `outcome` folder. The first row in the file contains the only column name `userid`. The following 500 rows contain user IDs, each of which starts with the string '*user*' followed by a string of five random digits. Rows are separated by a new line. For example, the first five rows in the file look as below. (Be aware that the numbers after '*user*' below should be different than yours as they were randomly generated.)

userid
user75010
user97549
user49437
user76840

In [ ]:
# Your answer here
with open("outcome/ex_output.csv", mode="w") as fw:
    fw.write("userid\n")
    
    for i in range(500):
        userid = "user" + generate_random_string(string.digits, 5, 5)
        fw.write("{}\n".format(userid))

3\. Create another file `ex_output2.csv` in the `outcome` folder. The first row in the file contains two column names `userid` and `password`. The following 500 rows contain 1) user IDs with the same rule as above and 2) passwords, each of which is a string of 10-19 random digits, ASCII letters, or punctuation characters. Rows are separated by a new line and columns by a tab. For example, the first five rows in the file look as below. (Be aware again that the user IDs and passwords below should be different than yours.)

userid	password
user10552	d*L.Dgb!W,Q
user85817	J;,?tFM#8Xv`
user54513	.Yt3_y73%i;H1
user58010	s.aN[7uJib

In [ ]:
# Your answer here

4\. Read the `ex_output2.csv` file in the `outcome` directory and print the first ten rows including the header row as they are. For example, the first three rows in the printed output look as below. (Be aware again that the user IDs and passwords below should be different than yours.)

userid	password
user10552	d*L.Dgb!W,Q
user85817	J;,?tFM#8Xv`

In [ ]:
# Your answer here

5\. Read the `ex_output2.csv` file in the `outcome` directory and print only the user IDs in the first ten rows including the header row. For example, the first three rows in the printed output look as below. (Be aware again that the user IDs below should be different than yours.)

userid
user10552
user85817

In [ ]:
# Your answer here

## Exercises - Element Selection from a Dataframe

Twitter screen name options:
- justinbieber
- katyperry
- Cristiano
- TheEllenShow
- KimKardashian
- cnnbrk
- BillGates
- nytimes
- NASA
- elonmusk

In [ ]:
from IPython.display import Image
Image("classdata/images/data_timelines.png")

Choose a Twitter screen name you're interested in and save it in the `screen_name` variable below. Note that screen names are case-sensitive.

In [ ]:
screen_name = "cnnbrk"

Import the <b>Pandas</b> package and set the max column width to 150.

In [ ]:
# Your answer here

1\. Read the CSV file in the `classdata/tweets/` folder that corresponds to the Twitter user you have chosen into a Pandas dataframe `df`.

In [ ]:
# Your answer here

In [ ]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
df

2\. Get the list of column labels of `df`.

In [ ]:
# Your answer here

3\. Get the list of row index positions of `df`.

In [ ]:
# Your answer here

4\. Get the shape of `df`.

In [ ]:
# Your answer here

5\. Get the number of rows, or records, in `df`.

In [ ]:
# Your answer here

6\. Select all values from the `created_at` column.

In [ ]:
# Your answer here

7\. Select the first 3 rows from `df`.

In [ ]:
# Your answer here

8\. Select the last 3 rows from `df`.

In [ ]:
# Your answer here

9. Select the element at row index position 999 and in the `text` column.

In [ ]:
# Your answer here

10\. Select the element in the fifth row and the third column.

In [ ]:
# Your answer here

11\. Select all values from the last column, without specifying the column label.

In [ ]:
# Your answer here

12\. Select all rows in the last two columns, without specifying the column labels.

In [ ]:
# Your answer here

13\. Select the first five rows in the last two columns, without specifying the column labels.

In [ ]:
# Your answer here

14\. Select all rows from `df` with the `favorite_count` column value being strictly larger than 5000.

In [ ]:
# Your answer here

15\. Select all rows from `df` with the `favorite_count` column value being between 5000 (inclusive) and 10000 (exclusive).

In [ ]:
# Your answer here

16\. Create a random sample of 100 rows from `df` without duplicates.

In [ ]:
# Your answer here

## Exercises - Dataframe Iteration & File Writing

Let's continue to use `df`.

1\. Select the first ten values from the `text` column of `df` and print the first 30 characters of each value concatenated by the string '...'. Rows in the printed output are separated by a new line. For example, the first three rows in the printed output look as follows. (Be aware that your output text should be different if you have chosen a different dataset.)

The Federal Reserve has left i...
A Homeland Security message wa...
A tornado strikes Florida, dam...

In [ ]:
# Your answer here
for text in df[:10].text:
    print(text[:30] + "...")

2\. Select the first ten rows from `df` and print the values of each row in the following format: 'created at: CREATED_AT, text: TEXT, retweet_count: RETWEET_COUNT', where CREATED_AT, TEXT, and RETWEET_COUNT are the values from the three columns `created_at`, `text`, and `retweet_count`, respectively. Rows are separated by two new lines. For example, the first three rows in the printed output look as follows. (Be aware that your output text should be different if you have chosen a different dataset.)

created_at: Wed Jan 27 19:26:46 +0000 2021, text: The Federal Reserve has left interest rates unchanged as it warns of a slowing economic recovery… https://t.co/RcZ9jODrJX, retweet_count: 172

created_at: Wed Jan 27 19:12:11 +0000 2021, text: A Homeland Security message warns of potential violence from extremists that could persist in the weeks following t… https://t.co/xCrcl2ABeV, retweet_count: 419

created_at: Wed Jan 27 17:24:37 +0000 2021, text: A tornado strikes Florida, damaging Tallahassee International Airport, the National Weather Service says https://t.co/qwM7GwCTwp, retweet_count: 302

In [ ]:
# Your answer here

3\. Select all rows from `df` with the `is_retweet` column value being 0 and save the resulting dataframe in a CSV file in the `outcome` folder such that the column separator is a tab and it contains the index of the dataframe.

In [ ]:
# Your answer here

## Exercises - Adding Columns to a Dataframe

Let's continue to use `df`.

1\. Add a new column `text_shortened` to `df` such that each value in the column is the first 30 characters of the `text` column value concatenated by the string '...'.

In [ ]:
# Your answer here
df["text_shortened"] = df.text.apply(lambda x: x[:30] + "...")

In [ ]:
# Check your answer here.
df[["text", "text_shortened"]]

2\. Add a new column `first_last_token` to `df` such that each column value is a tuple with two elements: the first element being the first token of the `text` column value and the second one being the last token (use the <b>split</b> method).

In [ ]:
# Your answer here

In [ ]:
# Check your answer here.
df[["text", "first_last_token"]]

3\. Add a new column `metrics` to `df` such that each column value is a tuple with three values from the three columns `retweet_count`, `favorite_count`, and `is_retweet`, respectively, in order.

In [ ]:
# Your answer here

In [ ]:
# Check your answer here.
df[["retweet_count", "favorite_count", "is_retweet", "metrics"]]

4\. Add a new column `text_noellipsis` to `df` such that each column value is just the `text` column value but with no ellipsis ('…') in it.

In [ ]:
# Your answer here

In [ ]:
# Check your answer here.
df[["text", "text_noellipsis"]]

5\. Add a new column `num_mentions` to `df` such that each column value is the number of '@' symbols in the `text` column value.

In [ ]:
# Your answer here

In [ ]:
# Check your answer here.
df[["text", "num_mentions"]]

## Exercises - Regular Expressions

In [ ]:
dates = ["23-10-2002", "23/10/2002", "10/23/2002", "23/10/02", "23 Oct 2002", 
         "23 October 2002", "Oct 23, 2002", "October 23, 2002"]

The `text` string contains various forms of date expressions.

In [ ]:
text = "\n".join(dates)
print(text)

Import the <b>re</b> package.

In [ ]:
# Your answer here

1\. Write a regular expression that is able to find from `text` the following patterns: DD-mm-YYYY, DD/mm/YYYY, and mm/DD/YYYY where Y denotes each digit in a year, m each digit in a month, and D each digit in a day. The output list must have found the first three dates in `text` as follows:

['23-10-2002', '23/10/2002', '10/23/2002']

In [ ]:
# Your answer here
re.findall("\d\d[/-]\d\d[/-]\d\d\d\d", text)

2\. Write a regular expression that is able to find the above patterns as well as mm/DD/YY. The output list must have found the first four dates in `text` as follows:

['23-10-2002', '23/10/2002', '10/23/2002', '23/10/02']

In [ ]:
# Your answer here

3\. Write a regular expression that is able to find the following pattern: DD b YYYY where b denotes the abbreviated month name such as Jan and Feb. The output list must have found the following date in `text`:

['23 Oct 2002']

In [ ]:
# Your answer here

4\. Write a regular expression that is able to find the following patterns: DD b YYYY and DD B YYYY where B denotes the full month name such as January and February. The output list must have found the following dates in `text`:

['23 Oct 2002', '23 October 2002']

In [ ]:
# Your answer here

5\. Write a regular expression that is able to find the following patterns: b DD, YYYY and B DD, YYYY. The output list must have found the following dates in `text`:

['Oct 23, 2002', 'October 23, 2002']

In [ ]:
# Your answer here