# Text Analytics | BAIS:6100
# Module 1: Python Basics for Text Processing, Part 1 - Exercises

Instructor: Kang-Pyo Lee

## Exercises - Strings

In [1]:
s = "I'm learning the Python programming language."

1\. Get the type of `s`.

In [2]:
# Your answer here
type(s)

str

2\. Get the first character in `s`.

In [3]:
# Your answer here
s[0]

'I'

3\. Get the last character in `s`.

In [4]:
# Your answer here
s[-1]

'.'

4\. Get the first 3 characters in `s`.

In [5]:
# Your answer here
s[:3]

"I'm"

5\. Get the last 9 characters in `s`.

In [6]:
# Your answer here
s[-9:]

'language.'

6\. Get only the <i>Python</i> part in `s`. (Hint: use a range filter.)

In [7]:
# Your answer here
s[17:23]

'Python'

In [8]:
s[s.find("Python"):s.find("Python")+len("Python")]

'Python'

7\. Get the reversed version of `s`.

In [9]:
# Your answer here
s[::-1]

".egaugnal gnimmargorp nohtyP eht gninrael m'I"

8\. Get the reversed version of the substring <i>Python</i> in `s`.

In [10]:
# Your answer here
s[17:23][::-1]

'nohtyP'

9\. Check if the substring <i>Python</i> is in `s`.

In [11]:
# Your answer here (using the in operator). The expected output is True.
"Python" in s

True

In [12]:
# Your answer here (using the find method). The expected output is 17.
s.find("Python")

17

In [13]:
# Your answer here (using the index method). The expected output is 17.
s.index("Python")

17

10\. Get the lower-case version of `s`.

In [14]:
# Your answer here
s.lower()

"i'm learning the python programming language."

11\. Count the number of <i>in</i>'s in `s`.

In [15]:
# Your answer here
s.count("in")

2

12\. Remove all whitespaces in `s`. (Hint: use the <b>replace</b> method.)

In [16]:
# Your answer here
s.replace(" ", "")

"I'mlearningthePythonprogramminglanguage."

13\. Using dot notation, remove the trailing period in `s` and then split it into a list of words, or tokens.

In [17]:
# Your answer here
s.rstrip(".").split()

["I'm", 'learning', 'the', 'Python', 'programming', 'language']

14\. Join all names in the list `names` using a comma as separator.

In [18]:
names = ["Alice", "Bob", "Tom"]

In [19]:
# Your answer here
", ".join(names)

'Alice, Bob, Tom'

15\. Print the sentence "<i>I've been learning Text Analytics for 2 weeks.</i>" by embedding the values of `subject` and `weeks` below using the <b>format</b> method of strings.

In [20]:
subject = "Text Analytics"
weeks = 2

In [21]:
# Your answer here
print("I'm learning {} for {} weeks.".format(subject, weeks))

I'm learning Text Analytics for 2 weeks.

## Exercises - Lists

1\. Create an empty list named `animals`.

In [22]:
# Your answer here
animals = []     # Or animals = list()

2\. Append a new element '*dog*' to `animals`.

In [23]:
# Your answer here
animals.append("dog")
animals

['dog']

3\. Append new elements '*cat*', '*bird*', '*tiger*', '*lion*', and '*fox*' to `animals`.

In [24]:
# Your answer here
animals.extend(["cat", "bird", "tiger", "lion", "fox"])
animals

['dog', 'cat', 'bird', 'tiger', 'lion', 'fox']

4\. Check if '*elephant*' is in `animals`. The output must be either True or False.

In [25]:
# Your answer here
"elephant" in animals

False

5\. Get the number of elements in `animals`.

In [26]:
# Your answer here
len(animals)

6

6\. Get the first 3 items in `animals`.

In [27]:
# Your answer here
animals[:3]

['dog', 'cat', 'bird']

7\. Get a new reversed list of `animals`.

In [28]:
# Your answer here
list(reversed(animals))

['fox', 'lion', 'tiger', 'bird', 'cat', 'dog']

8\. Get a new sorted list of `animals` in descending alphabetical order.

In [29]:
# Your answer here
sorted(animals, reverse=True)

['tiger', 'lion', 'fox', 'dog', 'cat', 'bird']

## Exercises - Dictionaries

1\. Go to this web page http://www.jamesrobertwatson.com/months.html and find the table in the middle of the web page describing the origins of month names in English. Manually create a dictionary named `months` with its keys being the twelve month names and the values being their *Comes from*.

In [30]:
# Your answer here
months = {
    "January": "Janus", 
    "February": "februo", 
    "March": "Mars",
    "April": "aperire", 
    "May": "Maia",
    "June": "Juno", 
    "July": "Julius Caesar",
    "August": "Augustus",
    "September": "septem",
    "October": "octo",
    "November": "novem", 
    "December": "decem"}

2\. Get the origin of <i>July</i> using `months`.

In [31]:
# Your answer here
months["July"]

'Julius Caesar'

3\. Check if <i>Monday</i> is in `months`. The output must be either True or False.

In [32]:
# Your answer here
"Monday" in months

False

4\. Get the number of key-value mappings in `months`.

In [33]:
# Your answer here
len(months)

12

5\. Manually create another dictionary named `months_detail` with the same keys as `months` but the values being lists, each of which contains *Comes from* and *Who or what?* in order. For example, the value for the key *January* is a list that looks as follows:

["Janus", "God of Doors"]

In [34]:
# Your answer here
months_detail = {
    "January": ["Janus", "God of Doors"],
    "February": ["februo", "purify"], 
    "March": ["Mars", "God of War"],
    "April": ["aperire", "open"], 
    "May": ["Maia", "Goddess of Growth"],
    "June": ["Juno", "Queen of the Gods"], 
    "July": ["Julius Caesar", "Ruler of Rome"],
    "August": ["Augustus", "Ruler of Rome"],
    "September": ["septem", "seven"],
    "October": ["octo", "eight"],
    "November": ["novem", "nine"], 
    "December": ["decem", "ten"]}

6\. Get the Who or what of *August* using `months_detail`.

In [35]:
# Your answer here
months_detail["August"][1]

'Ruler of Rome'

## Exercises - Branches

In [36]:
s = "I'm learning text analytics."

1\. Write an <b>if</b> statement that prints '*It is a string!*' if the type of `s` is string. (Hint: use the <b>type</b> function to check if a variable is string).

In [37]:
# Your answer here
if type(s) == str:
    print("It is a string!")

It is a string!

2\. Write <b>if-else</b> statements that print '*It is not a string!*' if the type of `s` is not string. If `s` is a string and its length is larger than 10, print '*It has more than 10 characters.*'. Otherwise, print '*It has fewer than or equal to 10 characters.*'.

In [38]:
# Your answer here
if type(s) != str:
    print("It is not a string!")
else:
    if len(s) > 10:
        print("It has more than 10 characters.")
    else:
        print("It has fewer than or equal to 10 characters.")

It has more than 10 characters.

3\. Write <b>if-else</b> statements that print '*Even length!*' if the length of `s` is an even number and '*Odd length!*' if it is an odd number. In order to check if a number is either even or odd, divide it by 2 and if the remainder is 0, you can say it is even, otherwise, it is odd. Use the % operator to get the remainder of a division. For exampl, the following statement returns 2 as the remainder of 5 divided by 3 is 2.

In [39]:
5 % 3

2

In [40]:
# Your answer here
if len(s) % 2 == 0:
    print("Even length!")
else:
    print("Odd length!")

Even length!

## Exercises - For Loops

In [41]:
s = "abcdefghijklmnopqrstuvwxyz"

1\. Write a <b>for</b> loop that prints all letters in `s`, separated by a tab.

In [42]:
# Your answer here
for c in s:
    print(c, end="\t")

a	b	c	d	e	f	g	h	i	j	k	l	m	n	o	p	q	r	s	t	u	v	w	x	y	z

2\. Write a <b>for</b> loop that prints the same as above, but this time using the index of `s`.

In [43]:
# Your answer here
for i in range(len(s)):
    c = s[i]
    print(c, end="\t")

a	b	c	d	e	f	g	h	i	j	k	l	m	n	o	p	q	r	s	t	u	v	w	x	y	z

3\. Write a <b>for</b> loop that prints all names in `names` in uppercase, separated by a new line.

In [44]:
names = ["Alice", "Bob", "Mary", "Sam", "Sarah", "Tom"]

In [45]:
# Your answer here
for name in names:
    print(name.upper(), end="\n")

ALICE
BOB
MARY
SAM
SARAH
TOM

4\. Write a <b>for</b> loop that only prints the names in `names` with the length of 3, separated by a new line.

In [46]:
# Your answer here
for name in names:
    if len(name) == 3:
        print(name, end="\n")

Bob
Sam
Tom

5\. Write a <b>for</b> loop that only prints the names in `names` that end with either *m* or *y*, separated by a new line.

In [47]:
# Your answer here
for name in names:
    if (name.endswith("m") | (name.endswith("y"))):
        print(name, end="\n")

Mary
Sam
Tom

6\. Using list comprehension, create a new list `names2` of the names in `names` in lower case.

In [48]:
names = ["Alice", "Bob", "Tom"]

In [49]:
# Your answer here
names2 = [name.lower() for name in names]
names2

['alice', 'bob', 'tom']

7\. Using list comprehension, create a new list `names3` of tuples, each of which contains each name in `names` and the length of the name. For example, the first element in `names3` is ('Alice', 5).

In [50]:
# Your answer here
names3 = [(name, len(name)) for name in names]
names3

[('Alice', 5), ('Bob', 3), ('Tom', 3)]

## Exercises - User-Defined Functions

1\. Write a function `concatenate` that takes two strings `s1` and `s2` as arguments and returns the concatenation of the two strings with a space between them.

In [51]:
# Your answer here
def concatenate(s1, s2):
    return s1 + " " + s2

In [52]:
# Test the function here
concatenate("Learning", "Python")                               # Expected output: 'Learning Python'

'Learning Python'

2\. Write a function `concatenate_all` that takes a list `l` of strings as an argument and returns the concatenation of all strings in `l` with a space between the strings.

In [53]:
# Your answer here
def concatenate_all(l):
    s = ""
    for item in l:
        s = s + item + " "
        
    return s.rstrip()

In [54]:
# Your answer here
def concatenate_all(l):
    return " ".join(l)

In [55]:
# Test the function here
concatenate_all(["Python", "R", "SAS", "SPSS", "Matlab", "Stata"]) # Expected output: 'Python R SAS SPSS Matlab Stata'

'Python R SAS SPSS Matlab Stata'

3\. Write a function `get_head_tail` that takes a list `l` of strings as an argument and returns the first and last elements in `l`. If `l` has fewer than 2 elements, it returns '*The input list is too short!*'.

In [56]:
# Your answer here
def get_head_tail(l):
    if len(l) < 2:
        return "The input list is too short!"
    
    return l[0], l[-1]

In [57]:
# Test the function here
get_head_tail(["Python", "R", "SAS", "SPSS", "Matlab", "Stata"]) # Expected output: ('Python', 'Stata').

('Python', 'Stata')

In [58]:
# Test the function here
get_head_tail(["Python"])                                        # Expected output: 'The input list is too short!'.

'The input list is too short!'

4\. Write a function `highlight` that takes two strings `s` and `subs` as arguments and returns a new copy of `s` with its substring `subs` replaced with its uppercase (see the example in the function test below). If `s` does not contain `subs`, it returns '*No substring!*'. (Hint: use the <b>replace</b> method to replace the substring with its uppercase.)

In [59]:
# Your answer here
def highlight(s, subs):
    if subs not in s:
        return "No substring!"
    
    return s.replace(subs, subs.upper())

In [60]:
# Test the function here
highlight("I'm learning Python data analytics.", "Python")       # Expected output: "I'm learning PYTHON data analytics."

"I'm learning PYTHON data analytics."

In [61]:
# Test the function here
highlight("I'm learning Python data analytics.", "SAS")          # Expected output: 'No substring!'.

'No substring!'